---
import { type HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {}

const props = Astro.props;
---

<a {...props}><slot /></a>

<style>
  * {
    --color: var(--ax1);
    --color-underline: var(--ax3);
    &:is(:hover, :focus, :active) {
      --color-underline: var(--ax1);
    }
  }
</style>
