---
import { type HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {}

const props = Astro.props;
---

<a {...props}>
  <slot />
</a>

<style>
  * {
    font-weight: var(--font-weight-5);
    color: var(--brand);
  }
</style>
