---

---

<div class="card |">
  <slot />
</div>

<style>
  * {
    height: 100%;
    border-width: 2px;
    /* border-radius: var(--radius-2); */
    padding: var(--space-m);
    &:hover {
      border-color: var(--ax2);
      background-color: var(--bg3);
    }
  }
</style>
