@use "misc";
@use "fluid";
@use "dynamic-colors.scss";

@mixin dark-theme {
  --base-h: 234;
  --base-s: 21%;
  --base-l: 18%;

  --accent-h: 9;
  --accent-s: 86%;
  --accent-l: 65%;
}

@mixin light-theme {
  --base-h: 234;
  --base-s: 21%;
  --base-l: 18%;

  --accent-h: 9;
  --accent-s: 86%;
  --accent-l: 65%;
}

:root {
  @include misc.config-fonts;
  @include misc.config-cgrid;
  @include fluid.type;
  @include fluid.space;

  @include dynamic-colors.config;

  color-scheme: dark;

  --brand-hsl: var(--day-hS) 68%;
  --surface-1a-hsl: var(--night-hs) 18%;
  --brand: var(--ax1);
  --surface-1a: var(--bg1);
  --surface-1b: var(--bg2);
  --text-1-strong: var(--tx1);
  --text-1: var(--tx2);
  --text-faded: var(--tx3);
  --text-muted: var(--tx4);
  --text-on-brand: var(--bg2);
  --border: var(--ui2);

  @include dark-theme();
  @media (prefers-color-scheme: light) {
    color-scheme: light;
    @include light-theme();
  }
}

[data-theme="dark"] {
  color-scheme: dark;
  @include dark-theme();
}
[data-theme="light"] {
  color-scheme: light;
  @include light-theme();
}
