@use "misc";
@use "fluid";
@use "../utilities/grid/config" as grid;
@use "dynamic-colors";
@use "theme";

:root {
  @include misc.config-fonts;
  @include misc.config-cgrid;
  @include fluid.type;
  @include fluid.space;
  @include grid.config;

  @include dynamic-colors.config;

  --text-strong: var(--fg1);
  --text-normal: var(--fg2);
  --text-faded: var(--fg3);
  --text-muted: var(--fg4);
  --text-on-ax: var(--fg9);
  --border: var(--ui2);

  color-scheme: dark;
  @include theme.dark();
  @media (prefers-color-scheme: light) {
    color-scheme: light;
    @include theme.light();
  }
}

[data-theme="dark"] {
  color-scheme: dark;
  @include theme.dark();
}
[data-theme="light"] {
  color-scheme: light;
  @include theme.light();
}
