@font-face {
  font-family: "Alegreya";
  src: url("/assets/fonts/Alegreya-ExtraBold.ttf") format("truetype");
  font-weight: var(--font-weight-8);
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/assets/fonts/Alegreya-SemiBold.ttf") format("truetype");
  font-weight: var(--font-weight-6);
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/assets/fonts/Alegreya-Bold.ttf") format("truetype");
  font-weight: var(--font-weight-5);
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("/assets/fonts/Alegreya-Regular.ttf") format("truetype");
  font-weight: var(--font-weight-4);
  font-display: swap;
}
