@mixin config-fonts {
  --font-heading: "Alegreya", "American Typewriter", Optima, Candara, system-ui,
    sans-serif;
  --font-mono: "Courier Prime", "Courier New", "Nimbus Mono PS", Courier,
    ui-monospace, monospace;
  --font-sans: "Inter", Avenir, Montserrat, Corbel, "URW Gothic",
    source-sans-pro, sans-serif;
}

@mixin config-cgrid {
  --size-blockquote-strip: var(--size-relative-3);
  --size-blockquote-indent: var(--size-relative-7);
  --size-popout: calc(
    var(--size-blockquote-strip) + var(--size-blockquote-indent)
  );
}
