@mixin dark {
  --base-h: 234;
  --base-s: 21%;
  --base-l: 18%;

  --accent-h: 9;
  --accent-s: 80%;
  --accent-l: 65%;

  --m: 1;
  --a-l: 1;

  --font-weight-strong: var(--font-weight-8);
}

@mixin light {
  --base-h: 9;
  --base-s: 5%;
  --base-l: 95%;

  --accent-h: 0;
  --accent-s: 100%;
  --accent-l: 35%;

  --m: -1.2;
  --a-l: 1.5;

  --font-weight-strong: var(--font-weight-5);
}
