@use "misc";
@use "fluid";
@use "../utilities/grid/config" as grid;
@use "dynamic-colors";

@mixin dark-theme {
  --base-h: 234;
  --base-s: 21%;
  --base-l: 18%;

  --accent-h: 9;
  --accent-s: 80%;
  --accent-l: 65%;

  --m: 1;
  --a-l: 1;
}

@mixin light-theme {
  --base-h: 9;
  --base-s: 20%;
  --base-l: 100%;

  --accent-h: 0;
  --accent-s: 100%;
  --accent-l: 35%;

  --m: -0.9;
  --a-l: 1.5;
}

:root {
  @include misc.config-fonts;
  @include misc.config-cgrid;
  @include fluid.type;
  @include fluid.space;
  @include grid.config;

  @include dynamic-colors.config;

  --text-strong: var(--tx1);
  --text-normal: var(--tx2);
  --text-faded: var(--tx3);
  --text-muted: var(--tx4);
  --text-on-brand: var(--bg2);
  --border: var(--ui2);

  color-scheme: dark;
  @include dark-theme();
  @media (prefers-color-scheme: light) {
    color-scheme: light;
    @include light-theme();
  }
}

[data-theme="dark"] {
  color-scheme: dark;
  @include dark-theme();
}
[data-theme="light"] {
  color-scheme: light;
  @include light-theme();
}
