/*
REPEL

CUSTOM PROPERTIES

--repel-direction: Controls the direction of the repel items.
Can be any acceptable flexbox direction value.

--repel-y-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.

--repel-gap: Controls the gap between repel items
*/
.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: var(--repel-direction, row);
  align-items: var(--repel-y-alignment, center);
  gap: var(--repel-gap, 1rem);
}
