/*
SWITCHER
More info: https://every-layout.dev/layouts/switcher/

CUSTOM PROPERTIES
--switcher-gap: This defines the space
between each item

--switcher-inline-at: How large the container
needs to be to allow items to sit inline with each other

--switcher-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap, var(--space-l));
  align-items: var(--switcher-vertical-alignment, flex-start);
  justify-content: space-between;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-inline-at, 40rem) - 100%) * 999);
}

/* Max 2 items,
  so anything greater than 2 is full width */
.switcher > :nth-child(n + 3) {
  flex-basis: 100%;
}
