/*
WRAPPER COMPOSITION
A common wrapper/container

CUSTOM PROPERTIES
--wrapper-max-width: The maximum width of the wrapper

--gutter: The inline padding of the wrapper
*/
.wrapper {
	margin-inline: auto;
	max-width: var(--wrapper-max-width, var(--page-max, 120ch));
	padding-inline: var(--gutter, var(--space-md, 1rem));
	position: relative;
}
