@mixin config {
  --gutter: clamp(1rem, 3vw, 3rem);
  --popout-g: minmax(0, var(--size-popout));
  --feature-g: minmax(0, 3rem);
  --wide-g-linew: minmax(0, 25ch);
  --wide-g-cgrid: minmax(0, 10ch);
  --content-w: min(72ch, 100% - var(--gutter) * 2);
}
