@mixin tokens {
  --gutter: clamp(1rem, 3vw, 3rem);
  --size-popout: var(--size-ch-8);
  --popout-g: minmax(0, var(--size-popout));
  --wide-g-linew: minmax(0, 20ch);
  --wide-g-cgrid: minmax(0, 10ch);
  --content-w: min(70ch, 100% - var(--gutter) * 2);
}
