.linew > * {
  grid-column: normal;
}

.content,
.cgrid > * {
  grid-column: content;
}

.max,
.cgrid-max > *,
.linew-max > * {
  grid-column: max;
}

.wide,
.linew-wide > *,
.cgrid-wide > * {
  grid-column: wide;
}

.popout,
.cgrid-popout > * {
  grid-column: popout;
}

.full {
  grid-column: full;
}
