---
import type { HTMLAttributes } from "astro/types";
import Pill from "./note/Pill.astro";
import { pillVariants } from "~/utils/pill-variants";

interface Props extends HTMLAttributes<"div"> {
  variant: keyof typeof pillVariants;
  content?: string;
}

const { content, variant } = Astro.props;
---

<div class="border">
  <header class="flex-row wrap">
    <Pill variant={variant} />
    {pillVariants[variant].label}
  </header>
  {content && <div class="body">{content}</div>}
</div>

<style>
  .flex-row {
    row-gap: var(--space-xs);
  }
  .border {
    padding: var(--space-s);
    background-color: var(--bg1);
  }
  .body {
    padding: var(--space-xs);
  }
</style>
