---
import { type HTMLAttributes } from "astro/types";
import { getLongDurationSince } from "~/utils/time";

interface Props extends HTMLAttributes<"ul"> {
  date: Date;
  variant?: "long" | "short";
}

const { date, variant = "short" } = Astro.props;
const duration = getLongDurationSince(date);
---

<span aria-label={duration.long}>{duration[variant]}</span>
