---
interface Props {
  img: ImageMetadata;
  alt: string;
  url?: string;
  backgroundColor?: string;
}

const { img, alt, url, backgroundColor } = Astro.props;
---

<style>
  .favicon {
    margin-left: 0.2em;
    margin-bottom: -0.1em;
    display: inline;
  }
  span {
    white-space: nowrap;
  }
  img {
    height: 0.9em;
    display: inline;
  }
</style>

<span class="favicon">
  <img
    src={img.src}
    alt={alt}
    {...backgroundColor && { style: { backgroundColor } }}
  />
  {!url && <slot />}
  {url && <a href={url}><slot /></a>}
</span>
