---
import { type HTMLAttributes } from "astro/types";
import TagWIcon from "../styled/polym/TagWIcon.astro";
import type { NavigationLink } from "~/data/links";

interface Props extends HTMLAttributes<"ul"> {
  links: NavigationLink[];
}

const { links = [], ...props } = Astro.props;
---

<ul {...props}>
  {
    links.map((l) => (
      <li>
        <TagWIcon
          as="a"
          href={l.href}
          iconName={l.icon}
          iconColor="unset"
          {...(l.href === Astro.url.pathname && { "aria-current": "page" })}
        >
          {l.label}
        </TagWIcon>
      </li>
    ))
  }
</ul>

<style>
  a {
    --color: var(--text-faded);
  }
</style>
