---
import { type HTMLAttributes } from "astro/types";
import TagWIcon from "../styled/polym/TagWIcon.astro";
import type { NavigationLink } from "~/data/links";

interface Props extends HTMLAttributes<"ul"> {
  links: NavigationLink[];
  isFooter?: boolean;
}

const { links = [], isFooter = false, ...props } = Astro.props;
---

<div data-is-footer={isFooter}>
  <ul {...props}>
    {
      links.map((l) => (
        <li>
          <TagWIcon
            as="a"
            href={l.href}
            iconName={l.icon}
            iconColor="unset"
            {...(l.href === Astro.url.pathname && { "aria-current": "page" })}
          >
            {l.label}
          </TagWIcon>
        </li>
      ))
    }
  </ul>
</div>

<style>
  a {
    --color: var(--text-faded);
  }
  div[data-is-footer="true"] {
    container-type: inline-size;
    @container (min-width: 500px) {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }
      li {
        --flow-space: 0;
        display: inline-flex;
        font-size: var(--step-0);
        margin-right: var(--space-m);
      }
      li:first-child {
        font-size: var(--step-2);
        margin-inline-end: var(--space-xl);
      }
    }
  }
</style>
