---
import type { SuperNote } from "lib/utils/types";

interface Props {
  note: SuperNote;
}

const { note } = Astro.props;
---

<a href={note.route}>
  {note.data?.emojip && `${note.data?.emojip} `}
  {note.name}
</a>
