---
import Icon from "astro-iconify";
import type { HTMLAttributes } from "astro/types";
import type { LinkKey } from "~/data/links";
import { SOCIALS } from "~/data/links";

type Props = {
  link: LinkKey;
} & HTMLAttributes<"a">;

const { link, ...props } = Astro.props;

const l = SOCIALS[link];
---

<a href={l.href} {...props}>
  <Icon name={l.icon} /><span class="a-text">{l.label}</span>
</a>
