---
import type { LinkKey } from "~/data/links";
import Button, {
  type ButtonProps,
} from "~/components/styled/polym/Button.astro";
import SOCIALS from "~/data/links";
import Icon from "astro-iconify";

type Props = {
  link: LinkKey;
} & ButtonProps<"a">;

const { link, ...props } = Astro.props;

const l = SOCIALS[link];
---

<Button as="a" href={l.href} {...props}>
  <Icon name={l.icon} />
  {l.label}
</Button>
