---
import AccentA from "../styled/monom/AccentA.astro";
---

<div class="banner linew">
  <span>
    🚧 <b>WIP</b>! You can find the old site at <AccentA
      href="http://chuangcaleb.github.io/wtsa/about"
    >
      http://chuangcaleb.github.io/wtsa/about
    </AccentA>
  </span>
</div>

<style>
  .banner {
    background-color: var(--surface-1b);
    border-bottom-width: 0.5px;
    padding-block: var(--size-relative-2);
  }
</style>
