---
import BrandA from "../styled/monom/BrandA.astro";
---

<div class="banner cgrid">
  <span>
    🚧 <b>WIP</b>! You can find the old site at <BrandA
      href="http://chuangcaleb.github.io/wtsa/about"
    >
      http://chuangcaleb.github.io/wtsa/about
    </BrandA>
  </span>
</div>

<style>
  .banner {
    background-color: var(--surface-1b);
    border-bottom-width: 1px;
    padding-block: var(--size-relative-2);
  }
</style>
