---
import Icon from "astro-iconify";
import { getCollection } from "astro:content";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import HighlightCard from "./HighlightCard.astro";
import Button from "~/components/primitive/Button.astro";
import LINKS from "~/data/links";

const highlights = (await getCollection("highlight")).sort(
  (a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf()
);
const links = [LINKS.LINKEDIN, LINKS.CV];
---

<section class="full region surface-alt">
  <div class="container flow-xl">
    <TagWIcon as="h2">
      <Icon name="lucide:chevron-up-circle" />
      {" "}<span class="text-faded">/</span> now
    </TagWIcon>
    {highlights.map((h) => <HighlightCard highlight={h} />)}
    <p class="cont-buttons">
      {
        links.map((l, idx) => (
          <Button as="a" href={l.href} theme={!idx ? "brand" : undefined}>
            <Icon name={l.icon} />
            {l.label}
          </Button>
        ))
      }
    </p>
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: subgrid;
    .cont-buttons {
      display: flex;
      column-gap: var(--space-s);
      row-gap: var(--space-xs);
      flex-wrap: wrap;
    }
  }
</style>
