/*
:where(a[href]) {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: var(--size-relative-2);

  box-decoration-break: clone;
  text-decoration-line: underline;
  font-weight: var(--font-weight-5);
  color: var(--ax1);
  text-decoration-color: var(--ax3);
  text-decoration-skip-ink: none;
  margin-inline: calc(var(--size-1) * -1);
  margin-block: calc(var(--size-1) * -2);
  margin-bottom: 0;
  padding: var(--size-1);
}

:where(a[href]):is(:hover, :focus, :active) {
  border-radius: var(--radius-2);
  background-color: var(--ax1);
  color: var(--text-on-ax);
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration-line: none;
}

:where(a[href], button, .hover-glow):is(:hover, :focus, :active),
.glow {
  --glow: var(--ax1);
  --size: var(--size-8);
  box-shadow: 0 0 var(--size) 0 var(--glow);
}
*/

:where(a[href]) {
  --color: var(--text-normal);
  --color-underline: var(--fg3);
  --color-hover: var(--text-strong);

  color: var(--color);
  text-decoration-color: var(--color-underline);

  border-radius: var(--radius-1);
  box-decoration-break: clone;
  /* font-weight: var(--font-weight-5); */

  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  &:has(*) {
    display: inline-flex;
    align-items: center;
    column-gap: 0.75ch;
  }
}

:where(
  article
    a:is(
      [href^="http://"],
      [href^="https://"]
    ):not(
      [href^="https://chuangcaleb.com"]
    )
) {
  &:not(:has(*)):after,
  & > .a-text:after {
    content: " \2197\FE0E";
    font-family: system-ui;
    font-size: 0.8em;
  }
}

:where(a[href]:is(:hover, :focus, :active)) {
  --color-underline: var(--ax1);
  color: var(--color-hover);
}

:where(a[href]:focus) {
  text-decoration-style: wavy;
}
