:where(a[href]) {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: var(--size-relative-2);

  box-decoration-break: clone;
  text-decoration-line: underline;
  font-weight: var(--font-weight-5);
  color: var(--brand);
  text-decoration-color: hsla(var(--brand-hsl) / 0.5);
  text-decoration-skip-ink: none;
  margin: calc(var(--size-1) * -1);
  margin-bottom: 0;
  padding: var(--size-1);
}

:where(a[href]):is(:hover, :focus, :active) {
  border-radius: var(--radius-2);
  background-color: var(--brand);
  color: var(--text-on-brand);
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration-line: none;
}

:where(a[href], button, .hover-glow):is(:hover, :focus, :active),
.glow {
  --glow: var(--brand);
  --size: var(--size-8);
  box-shadow: 0 0 var(--size) 0 var(--glow);
}
