.prose {
  container-type: inline-size;
  width: 100%;
  --hr-space: var(--space-xl);
  --flow-li: var(--size-ch-5);

  line-height: var(--font-lh-4);

  h2,
  h3,
  h4,
  h5 {
    & + * {
      --flow-space: var(--size-ch-8);
    }
  }

  hr {
    grid-column-start: popout;
    grid-column-end: popout;
    --flow-space: var(--hr-space);
    & + * {
      --flow-space: var(--hr-space);
    }
  }

  blockquote {
    grid-column-end: popout;
    border-left-width: var(--size-ch-2);
    border-inline-start-color: var(--fg4);
    padding-block: var(--size-ch-2);
    padding-inline-start: calc(var(--size-popout) - var(--size-ch-2));
    &,
    * {
      font-size: var(--step-0);
    }
  }

  & > ul,
  & > ol {
    li + li {
      margin-block-start: var(--flow-li);
    }
    ul,
    ol {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        border-width: var(--bw-1);
        border-color: var(--text-muted);
        border-style: dashed;
        height: 100%;
        left: calc(var(--size-popout) * -0.45);
      }
      & > li {
        margin-block-start: calc(var(--flow-li) / 1.5);
      }
    }
  }

  pre {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: popout;
    @media (width < 90ch) {
      grid-column: full;
    }
    * {
      grid-column: content;
    }
    /* consecutive pre's get joined */
    & + pre {
      --flow-space: 0;
    }
  }
  pre[data-language="plaintext"] {
    text-wrap: wrap;
    text-wrap: pretty;
  }

  table {
    grid-column: max;
  }

  th,
  td {
    border-width: var(--bw-1);
    word-break: break-all;
  }

  & > img {
    grid-column: wide;
    --flow-space: var(--space-xl);
    & + * {
      --flow-space: var(--space-xl);
    }
    @container (width < 600px) {
      grid-column: full;
      border-radius: 0;
      border-inline: 0;
    }
  }
}
