.prose {
  container-type: inline-size;
  width: 100%;

  /* default vars */
  --hr-space: var(--space-3xl);
  --flow-li: var(--size-ch-4);

  /* default styles */
  line-height: var(--font-lh-4);

  & > h2,
  & > h3,
  & > h4,
  & > h5 {
    & + * {
      --flow-space: var(--size-ch-8);
    }
  }

  p {
    white-space: pre-line;
  }

  hr {
    grid-column: popout;
    --flow-space: var(--hr-space);
    & + * {
      --flow-space: var(--hr-space);
    }
  }

  blockquote {
    grid-column-end: popout;
    border-left-width: var(--size-ch-2);
    border-inline-start-color: var(--fg4);
    padding-block: var(--size-ch-2);
    padding-inline-start: calc(var(--size-popout) - var(--size-ch-2));
    & {
      font-size: var(--step-0);
    }
    * + * {
      margin-top: var(--flow-space);
    }
  }

  & > ul:not([class]),
  & > ol:not([class]) {
    li + li {
      margin-block-start: var(--flow-li);
    }
    ul,
    ol {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        border-width: var(--bw-1);
        border-color: var(--text-muted);
        border-style: dashed;
        height: 100%;
        left: calc(var(--size-popout) * -0.45);
      }
      & > li {
        margin-block-start: calc(var(--flow-li) / 1.5);
      }
    }
  }

  pre {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: popout;
    @media (width < 90ch) {
      grid-column: full;
    }
    * {
      grid-column: content;
    }
    /* consecutive pre's get joined */
    & + pre {
      --flow-space: 0;
    }
  }
  pre[data-language="plaintext"] {
    text-wrap: wrap;
    text-wrap: pretty;
  }

  & > img {
    grid-column: wide;
    --flow-space: var(--space-xl);
    & + * {
      --flow-space: var(--space-xl);
    }
    @container (width < 600px) {
      grid-column: full;
      border-radius: 0;
      border-inline: 0;
    }
  }

  .table-wrapper {
    grid-column: popout;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-wrapper table {
    table-layout: fixed;
    border-collapse: collapse;

    min-width: 100%;
    width: max-content;
  }

  th,
  td {
    border-width: var(--bw-1);
    padding: var(--space-3xs) var(--space-2xs);
  }

  th {
    text-align: start;
  }
}
