---
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import Icon from "astro-iconify";
import SKILLS from "~/data/skills";
import SkillGroupCard from "./SkillGroupCard.astro";

const skillGroups = Object.entries(SKILLS);
---

<section class="skills-section | container region flow-lg">
  <TagWIcon as="h2">
    <Icon name="lucide:book-plus" />
    <span class="text-faded">/</span> skills
  </TagWIcon>
  <div class="skills">
    {
      skillGroups.map(([name, groupData]) => (
        <SkillGroupCard name={name} group={groupData} />
      ))
    }
  </div>
</section>

<style>
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    > * {
      flex-basis: var(--size-header-3);
      flex-grow: 1;
    }
  }
</style>
