---
import UlInline from "~/components/styled/monom/UlInline.astro";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import type { SkillGroup } from "~/data/skills";
interface Props {
  name: string;
  group: SkillGroup;
}

const { name, group } = Astro.props;
const { icon, skills } = group;
---

<article class="skill-group-card | flow-sm">
  <TagWIcon as="h3" iconName={icon}>
    {name}
  </TagWIcon>
  <UlInline>
    {
      skills.map((s) => (
        <li>
          <span class="style-code">{s}</span>
        </li>
      ))
    }
  </UlInline>
</article>

<style>
  article {
    background-color: var(--bg2);
    padding: var(--size-relative-5);
    border-radius: var(--radius-2);
    border-width: var(--bw-1);

    h3 {
      font-size: var(--step-2);
    }
    ul {
      font-size: var(--step--1);
    }
    li > span {
      background-color: var(--bg1);
    }
  }
</style>
