---
import type { MarkdownHeading } from "astro";
import generateToc from "lib/markdown/toc";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import TocHeading from "./TocHeading.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings = [] } = Astro.props;

const toc = generateToc(headings);

// Boot out H1; but we've already stripped it in lib/remark/strip-h1.mjs
// keeping this here in case
// const tocHeadings = (function () {
//   if (headings[0].depth === 1) {
//     headings.shift();
//   }
//   return headings;
// })();
---

{
  !!toc.length && (
    <nav id="toc">
      <TagWIcon as="h4" iconColor="fg3" iconName="lucide:list">
        Outline
      </TagWIcon>
      <ul class="toc-root">
        {toc.map((h) => (
          <TocHeading tocItem={h} />
        ))}
      </ul>
    </nav>
  )
}

<style>
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xs);
  }
  nav h4 {
    /* display: block; */
    /* color: var(--text-faded); */
    font-size: var(--step-1);
  }
</style>
