/* :where(input[type="file"])::-webkit-file-upload-button */
:where(input, button, textarea, select) {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

:where(a[href],
  /* area, */
  button,
  /* input,
    label[for],
    select,
    summary,
    textarea,*/
    [tabindex]:not([tabindex*="-"])
) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  /* letter-spacing: var(--font-letterspacing-1); */
}

:where(a[href],
  /* area, */
  button,
  /* input:not([type="text"]):not([type="email"]):not([type="number"]):not(
        [type="password"]
      ):not([type=""]):not([type="tel"]):not([type="url"]),
    label[for],
    select,
    summary, */
  [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
}

/* `a` elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* :where(input[type="file"])::-webkit-file-upload-button  */
:where(input, button, textarea, select) {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

:focus-visible {
  outline-offset: var(--size-relative-1);
  outline-color: var(--brand);
  outline-style: dashed;
  outline-width: 2px;
  transition-duration: 200ms;
}
