:where(html) {
  accent-color: var(--brand);
  background-color: var(--surface-1a);
  height: 100%;
  caret-color: var(--brand);
  color: var(--text-1);
  color-scheme: dark;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollthumb-color) transparent;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:where(:not(dialog)) {
  margin: 0;
}

:where(:not(:is(fieldset, progress, meter))) {
  background-origin: border-box;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: var(--border);
  border-width: 0;
}

::-webkit-scrollbar {
  height: var(--size-1);
  width: var(--size-1);
}
::-webkit-scrollbar-track {
  background-color: var(--surface-1b);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-muted);
  border-radius: var(--size-8);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-1);
}
