/* ---------------------------------- text ---------------------------------- */

/* Headings */
:where(h1, h2, h3, h4, h5, h6) {
  color: var(--text-1-strong);
  font-family: var(--font-heading);
  line-height: var(--font-lineheight-0);
  text-wrap: pretty;
  word-wrap: break-word;
  hyphens: auto;
}

:where(h1) {
  font-weight: var(--font-weight-8);
}

:where(h2) {
  font-weight: var(--font-weight-7);
}

:where(h3, h4, h5, h6) {
  font-weight: var(--font-weight-6);
}

:where(h1) {
  font-size: var(--step-7);
  max-width: var(--size-header-1);
}

:where(h2) {
  font-size: var(--step-5);
  max-width: var(--size-header-2);
}

:where(h3) {
  font-size: var(--step-3);
}

:where(h4) {
  font-size: var(--step-3);
}

:where(h5) {
  font-size: var(--step-2);
}

:where(h3, h4, h5, h6, dt) {
  max-width: var(--size-header-3);
}

:where(p, ul, ol, dl, h6) {
  font-size: var(--step-0);
}

:where(p) {
  text-wrap: pretty;
}

/* underline */

:where(a, u, ins, abbr) {
  text-underline-offset: 1px;
}

@supports (-moz-appearance: none) {
  :where(a, u, ins, abbr) {
    text-underline-offset: 2px;
  }
}

:where(a, u, ins, abbr) {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
}

/* Code */

.style-code,
:where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
}

:where(pre) {
  padding-block: var(--size-relative-6);
  code {
    padding-inline: var(--size-relative-4);
  }
}

.style-code,
:not(pre) > code {
  white-space: initial;
}

.style-code,
:where(:not(pre) > code) {
  background-color: var(--surface-1b);
  border-radius: var(--radius-2);
  padding: var(--size-relative-2) var(--size-relative-3);
  writing-mode: lr;
}

:where(pre) {
  white-space: pre;
  min-inline-size: 0;
  max-inline-size: max-content;
  writing-mode: lr;
  direction: ltr;
}

b,
strong {
  color: var(--text-1-strong);
  font-weight: var(--font-weight-8);
}

:where(hr) {
  border-width: 1px;
}

/* lists */

:where(ol, ul) {
  padding-left: var(--size-popout);
  ::marker {
    color: var(--text-faded);
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style-type: none;
  padding: unset;
}

/* :where(dd, figcaption) {
  max-width: var(--size-content-2);
} */

::selection {
  color: var(--text-on-brand);
  background: var(--brand);
}
img::selection {
  background: hsla(var(--brand-hsl) / 0.7);
}
