---
import WIPDisclaimer from "~/components/block/WIPDisclaimer.astro";
import Main from "~/components/layout/Main.astro";
import { getPublicNotes } from "~/utils/post";

export async function getStaticPaths() {
  const publicNotes = await getPublicNotes();
  return publicNotes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const { lastModified } = remarkPluginFrontmatter;
---

<Main>
  <WIPDisclaimer />
  <article class="prose region cgrid flow-lg">
    <Content />
  </article>
</Main>
