---
import WIPDisclaimer from "~/components/block/WIPDisclaimer.astro";
import Base from "~/components/layout/Base.astro";
import Main from "~/components/layout/Main.astro";
import { getNoteTitle, getPublicNotes } from "~/utils/post";

export async function getStaticPaths() {
  const publicNotes = await getPublicNotes();
  return publicNotes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();
const { lastModified, title } = remarkPluginFrontmatter;
---

<Base title={title}>
  <Main>
    <WIPDisclaimer />
    <div class="article">
      <header>
        <h1>{getNoteTitle(entry)}</h1>
      </header>
      <!-- <Toc headings={headings} /> -->
      <article class="prose cgrid flow-lg">
        <Content />
      </article>
    </div>
  </Main>
</Base>
