---
import Main from "~/components/layout/Main.astro";
import { getPublicNotes } from "~/utils/post";

export async function getStaticPaths() {
  const publicNotes = await getPublicNotes();
  return publicNotes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main class="blog-post">
  <article class="cgrid flow-lg">
    <Content />
  </article>
</Main>

<style is:global>
  .blog-post {
    h1,
    h2,
    h3,
    h4,
    h5 {
      grid-column: feature;
      & + * {
        --flow-space: var(--size-relative-10);
      }
    }
    ul {
      grid-column: popout;
    }
  }
</style>

<style>
  header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    background-color: var(--surface-1b);
    border-bottom-width: 1px;
    h1 {
      grid-column: feature;
    }
  }
  article {
    padding-bottom: var(--size-fluid-5);
  }
</style>

<style is:global>
  .blog-post {
    header + * {
      --flow-space: var(--size-fluid-4);
    }
  }
</style>
