---
import WIPDisclaimer from "~/components/block/WIPDisclaimer.astro";
import Base from "~/components/layout/Base.astro";
import Main from "~/components/layout/Main.astro";
import Toc from "~/components/template/note/Toc.astro";
import { getPublicNotes } from "~/utils/post";

export async function getStaticPaths() {
  const publicNotes = await getPublicNotes();
  return publicNotes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();
const { lastModified, title } = remarkPluginFrontmatter;
---

<Base title={title}>
  <Main>
    <WIPDisclaimer />
    <div class="article">
      <header class="cgrid-max region">
        <h1>{title}</h1>
      </header>
      <div class="body region">
        <Toc headings={headings} />
        <article class="prose cgrid flow-lg">
          <Content />
        </article>
      </div>
    </div>
  </Main>
</Base>
<style>
  header {
    background-color: var(--surface-1b);
  }
  h1 {
    text-wrap: balance;
  }
  .body {
    display: flex;
    /* flex-direction: row-reverse; */
    gap: var(--space-xs);
    position: relative;
    align-items: flex-start;
  }
</style>
