---
import Main from "~/components/layout/Main.astro";
import { getParsedPath, getPublicNotes } from "~/utils/post";

const publicNotes = await getPublicNotes();
---

<Main class="cgrid">
  <ul>
    {
      publicNotes?.map((n) => (
        <li>
          <a href={`/blog/${n.slug}`}>{getParsedPath(n.id).name}</a>
        </li>
      ))
    }
  </ul>
</Main>
