---
import Main from "~/components/layout/Main.astro";
import { getParsedPath, getPublicNotes } from "~/utils/post";

const publicNotes = await getPublicNotes();
---

<Main>
  <section class="cgrid-feature prose region flow-lg">
    <h1>All Posts</h1>
    <ul>
      {
        publicNotes?.map((n) => (
          <li>
            <a href={`/blog/${n.slug}`}>{getParsedPath(n.id).name}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Main>
