---
import type { NoteReference } from "lib/utils/types";
import NoteListItems from "~/components/block/note/NoteListItems.astro";
type Props = {
  title: string;
  references: NoteReference[];
};
const { title, references } = Astro.props;
---

<h2>{title}</h2>
<ol class="">
  <NoteListItems references={references} />
</ol>

<style>
  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: var(--space-m);
    column-gap: var(--space-s);
  }
</style>
