/* https://ryanmulligan.dev/blog/layout-breakouts/ */
[class*="cgrid"] {
  --gutter: clamp(1rem, 3vw, 3rem);
  --popout-g: minmax(0, var(--size-popout));
  --feature-g: minmax(0, 3rem);
  --wide-g: minmax(0, 10ch);
  --content-w: min(72ch, 100% - var(--gutter) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--gutter)
    [max-start] auto
    [wide-start] var(--wide-g)
    [feature-start] var(--feature-g)
    [popout-start] var(--popout-g)
    [content-start] var(--content-w) [content-end]
    var(--popout-g) [popout-end]
    var(--feature-g) [feature-end]
    var(--wide-g) [wide-end]
    auto [max-end]
    var(--gutter) [full-end];
  align-content: start;
}

/* utilities: parent */

.cgrid > * {
  grid-column: content;
}

.cgrid-max > * {
  grid-column: max;
}

.cgrid-wide > * {
  grid-column: wide;
}

.cgrid-feature > * {
  grid-column: feature;
}

.cgrid-popout > * {
  grid-column: popout;
}

/* utilities: children */

.full {
  grid-column: full;
}

.max {
  grid-column: max;
}

.wide {
  grid-column: wide;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.content {
  grid-column: content;
}
