.border {
  border-width: var(--bw-1);
  border-radius: var(--radius-2);
}

.region {
  padding-block: var(--space-xl);
}

.surface-alt {
  background-color: var(--bg2);
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.flex-row {
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
  align-items: center;
}

.flow-li-0 {
  --flow-li: 0;
}
