.border {
  border-width: var(--border-size-2);
  border-radius: var(--radius-2);
}

.region {
  padding-block: var(--space-xl);
}

.surface-alt {
  background-color: var(--surface-1b);
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.flex-row {
  display: flex;
  column-gap: var(--space-s);
  flex-wrap: wrap;
}
