/*
REGION UTILITY
Consistent block padding for page sections

CUSTOM PROPERTIES
--region-space: The vertical padding of the region
*/
.region {
  padding-block: var(--region-space, var(--space-2xl));
  position: relative;
}
/* first region has no top padding */
/* .region:nth-child(-n + 1) {
  padding-block-start: 0;
} */
