---
import { parse } from "date-fns";
import type { GuestPost } from "lib/google-sheets/types";
import { formatIso } from "~/utils/time";

interface Props {
  post: GuestPost;
}

const { post } = Astro.props;

const hasAvatar = !!post["📸 Avatar Image Link"];
const hasLink = !!post["🔗 Social Link"];

const formattedDate = formatIso(
  parse(post.Timestamp, "dd/MM/yyyy HH:mm:ss", new Date()).toISOString(),
  "MMMM yyyy"
);
---

<blockquote class="flom-lg surface-alt border flow">
  <div class="cite | flex-row">
    {
      hasAvatar && (
        <img
          src={post["📸 Avatar Image Link"]}
          fetchpriority="low"
          loading="lazy"
        />
      )
    }
    <p>
      {
        hasLink ? (
          <a href={post["🔗 Social Link"]}>{post["📇 Display Name"]}</a>
        ) : (
          <span>{post["📇 Display Name"]}</span>
        )
      }
      <span><i>{post["👥 Relation to me"]}</i></span>
    </p>
  </div>
  <p class="body">
    {post["📃 Content Body"]}
    <i>
      {formattedDate}
    </i>
  </p>

  <style>
    blockquote *:not(.body) {
      font-size: var(--step--1);
    }
    img {
      height: 3em;
      border-radius: 100%;
    }
    .cite p span {
      display: block;
      line-height: var(--font-lineheight-1);
    }
    i {
      color: var(--fg3);
      white-space: nowrap;
    }
    p {
      word-wrap: initial;
    }
  </style>
</blockquote>
