---
import { getGuestbookPosts } from "lib/google/sheets/get-guestbook-posts";
import NoteLayout from "~/components/layout/NoteLayout/NoteLayout.astro";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import Post from "./_GuestPost.astro";
import { NAV_LINKS } from "~/data/links";

const title = "Guestbook";

const guestbookPosts = (await getGuestbookPosts())
  .filter((post) => post.isVerified)
  .reverse();

const icon = NAV_LINKS.GUESTBOOK.icon;
---

<NoteLayout title={title}>
  <slot slot="header">
    <TagWIcon iconName={icon} as="h1" style={{ display: "flex" }}>
      Guestbook
    </TagWIcon>
    <p>
      <b>A collection of post-it notes, signed by people who know me!</b>
    </p>
  </slot>
  <p>
    I explain the technical behind-the-scenes at <a
      href="/notes/making-my-website-guestbook/">Making My Website Guestbook</a
    >!
  </p>
  {guestbookPosts.map((post) => <Post post={post} />)}
</NoteLayout>
