---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import profileImg from "src/assets/img/profile.jpg";
import SocialLink from "~/components/block/SocialLink.astro";
import Button from "~/components/styled/polym/Button.astro";
import { SOCIALS } from "~/data/links";
import { Content as HeroBodyContent } from "./_hero-body.mdx";
---

<section class="region wrapper">
  <div class="cont-img">
    <Picture
      src={profileImg}
      alt="Facial profile picture of Chuang Caleb"
      sizes={`(max-width: 1050px) 35.4vw, 800px`}
      widths={[140, 280, 400, 480, 560, 650, 720, 800]}
      class="border"
      formats={["avif", "webp"]}
      loading="eager"
    />
  </div>
  <div class="cont-text | flow">
    <h1 class="cont-title | flow">
      <span class="before-title">Chuang Caleb</span>
      <span class="title">
        software dev <br />
        with a different <mark>story.</mark>
      </span>
    </h1>
    <HeroBodyContent />
    <div class="cont-cta flom-xl">
      <Button as="a" variant="brand" href={SOCIALS["EMAIL"].href} step={1}>
        <Icon name={SOCIALS["EMAIL"].icon} />{}email me
      </Button>
      <Button as="a" href="#projects" step={1}>
        <Icon name="lucide:atom" />{}see projects
      </Button>
    </div>
  </div>
  <div class="cont-socials">
    <h2 class="visually-hidden">Social links</h2>
    <ul class="flow" role="list">
      {
        Object.keys(SOCIALS).map((l) => (
          <li>
            <SocialLink link={l} display="userId" />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    /* grid-template-columns: repeat(2, 1fr); */
    column-gap: var(--s-md);
    position: relative;
  }

  .cont-text {
    --flow-space: var(--s-lg);
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 5;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    align-content: start;

    & > :global(*) {
      grid-column: 1 / -2;
      @media (width < 675px) {
        grid-column: 1 / -1;
      }
    }
    :global(p) {
      font-size: var(--step-1);
      text-wrap: balance;
    }
  }

  .before-title {
    font-size: var(--textsize-h4);
    font-weight: var(--font-w-regular);
    font-family: var(--font-heading-serif);
    letter-spacing: var(--tracking-wide);
    color: var(--text-faded);
    text-decoration: underline;
    text-decoration-color: var(--color-accent-fill);
    text-underline-offset: 0.5em;
    text-transform: lowercase;
  }

  .title {
    --flow-space: var(--s-md);
    color: var(--text-strong);
    line-height: var(--leading-none);
    font-weight: var(--font-w-extrabold);
    font-family: var(--font-heading-serif);
  }

  .cont-title {
    grid-column: 1 / -1;
  }

  .cont-img {
    grid-column: 2 / 3;
    /* grid-column: -2 / -1; */
    grid-row: 1 / 4;
    justify-self: end;
    filter: brightness(1.2) saturate(0.8);
    z-index: -1;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: fit-content;

    /* darker image — to filter with bg color? */
    &::after {
      background-color: var(--color-alpha-black-15);
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
    }
    /* vignette for clearer text overlay */
    @media (width < 700px) {
      &::after {
        box-shadow: inset 0 calc(var(--s-lg) * -1) var(--s-3xl)
          calc(var(--s-lg) * -1) var(--color-black);
      }
    }
  }

  .cont-socials {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    text-align: end;
    display: grid;
    align-items: end;
    margin-block-start: var(--s-lg);

    @media (width >= 675px) {
      :global(a) {
        flex-direction: row-reverse;
      }
    }
    @media (width < 675px) {
      grid-column: 1 / -1;
      grid-row: auto;
    }
    ul {
      text-transform: lowercase;
      :global(svg) {
        width: var(--step-3);
      }
      @media (width < 675px) {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: var(--s-md);
        row-gap: var(--s-2xs);
        li {
          --flow-space: 0;
        }
      }
    }
  }

  .cont-cta {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--s-md);
    row-gap: var(--s-xs);
  }

  mark {
    animation: 3s highlight 0.5s 1 ease-out forwards;
    background: linear-gradient(
      90deg,
      var(--color-accent-fill) 50%,
      var(--color-night-active) 50%
    );
    background-size: 205% 100%;
    background-position: 100% 0;
    padding-top: 0;
    display: inline-block;
  }

  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

  @media (width < 600px) {
    br {
      display: none;
    }
  }
</style>
