html {
  background: var(--surface-1a);
}

:not(pre) > code {
  background-color: var(--surface-1b);
  box-decoration-break: clone;
}

section {
  /* --section-px: var(--size-fluid-3);
  --section_py: var(--size-fluid-2);
  --max-w: var(--size-lg); */
  padding-block: var(--size-fluid-3);
  padding-inline: var(--size-fluid-2);
  max-width: var(--size-lg);
  /* padding-block: var(--section-px, var(--size-fluid-3));
  padding-inline: var(--section_py, var(--size-fluid-2));
  max-width: var(--max-w, var(--size-lg)); */
  margin-inline: auto;
}

.cc-btn svg {
  height: 2rem;
  width: 2rem;
}
