html {
  background: var(--surface-1a);
}

:not(pre) > code {
  background-color: var(--surface-1b);
  box-decoration-break: clone;
}

section {
  /* --section-px: var(--size-fluid-3);
  --section_py: var(--size-fluid-2);
  --max-w: var(--size-lg); */
  --section-w: var(--size-lg);

  padding-block: var(--size-fluid-4);
  padding-inline: var(--size-fluid-2);
  max-width: var(--section-w);
  /* padding-block: var(--section-px, var(--size-fluid-3));
  padding-inline: var(--section_py, var(--size-fluid-2));
  max-width: var(--max-w, var(--size-lg)); */
  margin-inline: auto;
}

:where(a[href]) {
  box-decoration-break: clone;
  text-decoration-line: underline;
  color: var(--brand);
  text-decoration-color: hsla(var(--brand-hsl), 0.5);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

:where(a[href]) {
  &:hover,
  &:focus,
  &:active {
    border-radius: var(--radius-2);
    background-color: var(--brand);
    color: var(--text-on-brand);
    --tw-text-opacity: 1;
    --tw-shadow: 0 0 0 0.15em var(--brand), 0 0 3em 0 var(--brand);
    --tw-shadow-colored: 0 0 0 0.15em var(--tw-shadow-color),
      0 0 3em 0 var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 var(--brand)),
      var(--tw-ring-shadow, 0 0 var(--brand)),
      /* 0 0 0 0.15em var(--brand), */ 0 0 var(--size-8) 0 var(--brand);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.text-muted {
  color: var(--text-muted);
}

.heading-caps {
  font-weight: var(--font-weight-4);
  color: var(--brand);
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-4);
}
