html {
  background-color: var(--surface-1a);
}

/* https://ryanmulligan.dev/blog/layout-breakouts/ */
.content-grid {
  --gutter: clamp(1rem, 6vw, 3rem);
  --popout-g: minmax(0, 2rem);
  --feature-g: minmax(0, 5rem);
  --content-w: min(65ch, 100% - var(--gutter) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--gutter)
    [max-start] auto
    [feature-start] var(--feature-g)
    [popout-start] var(--popout-g)
    [content-start] var(--content-w) [content-end]
    var(--popout-g) [popout-end]
    var(--feature-g) [feature-end]
    auto [max-end]
    var(--gutter) [full-end];
}

.content-grid > * {
  grid-column: content;
}

.full {
  grid-column: full;
}

.max {
  grid-column: max;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.content {
  grid-column: content;
}

.style-code,
:not(pre) > code {
  background-color: var(--surface-1b);
  /* box-decoration-break: clone; */
}

:where(a[href]) {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: var(--size-relative-2);

  box-decoration-break: clone;
  text-decoration-line: underline;
  font-weight: var(--font-weight-5);
  color: var(--brand);
  text-decoration-color: hsla(var(--brand-hsl) / 0.5);
  text-decoration-skip-ink: none;
  margin: calc(var(--size-1) * -1);
  margin-bottom: 0;
  padding: var(--size-1);
}

:where(a[href]):is(:hover, :focus, :active) {
  border-radius: var(--radius-2);
  background-color: var(--brand);
  color: var(--text-on-brand);
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration-line: none;
}

:where(a[href], button, .hover-glow):is(:hover, :focus, :active),
.glow {
  --glow: var(--brand);
  --size: var(--size-8);
  box-shadow: 0 0 var(--size) 0 var(--glow);
}
