html {
  --s: 21%;
  --S: 95%;

  --night-h: 234;
  --night-hs: var(--night-h) var(--s);
  --night-hS: var(--night-h) var(--S);

  --day-h: 7;
  --day-hs: var(--day-h) var(--s);
  --day-hS: var(--day-h) var(--S);
}
