/* --------------------------------- layout --------------------------------- */

:where(html) {
  accent-color: var(--brand);
  background-color: var(--surface-1a);
  height: 100%;
  caret-color: var(--brand);
  color: var(--text-1);
  color-scheme: dark;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollthumb-color) transparent;
}

:focus-visible {
  outline-color: var(--brand);
}

*,
:after,
:before {
  box-sizing: border-box;
}

:where(:not(dialog)) {
  margin: 0;
}

:where(:not(:is(fieldset, progress, meter))) {
  background-origin: border-box;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}

/* ------------------------------ interactables ----------------------------- */

/* :where(input[type="file"])::-webkit-file-upload-button */
:where(input, button, textarea, select) {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

:where(a[href],
  /* area, */
  button,
  /* input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"]) */
) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(a[href],
  /* area, */
  button,
  /* input:not([type="text"]):not([type="email"]):not([type="number"]):not(
        [type="password"]
      ):not([type=""]):not([type="tel"]):not([type="url"]),
    label[for],
    select,
    summary, */
  [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
}

/* :where(input[type="file"])::-webkit-file-upload-button  */
:where(input, button, textarea, select) {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

/* ---------------------------------- text ---------------------------------- */

.style-h3,
:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  line-height: var(--font-lineheight-1);
}

:where(h1, h2) {
  font-weight: var(--font-weight-8);
}

.style-h3,
:where(h3, h4, h5, h6) {
  font-weight: var(--font-weight-7);
}

:where(h1) {
  font-size: var(--font-size-8);
  max-width: var(--size-header-1);
}

:where(h2) {
  font-size: var(--font-size-6);
  max-width: var(--size-header-2);
}

.style-h3,
:where(h3) {
  font-size: var(--font-size-5);
}

:where(h4) {
  font-size: var(--font-size-4);
}

:where(h5) {
  font-size: var(--font-size-3);
}

:where(h3, h4, h5, h6, dt) {
  max-width: var(--size-header-3);
}

:where(p, ul, ol, dl, h6) {
  font-size: var(--font-size-2);
}

:where(a, u, ins, abbr) {
  text-underline-offset: 1px;
}

@supports (-moz-appearance: none) {
  :where(a, u, ins, abbr) {
    text-underline-offset: 2px;
  }
}

:where(a, u, ins, abbr) {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
}

.style-code,
:where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
}

.style-code,
:not(pre)>code {
  white-space: initial;
}

.style-code,
:where(:not(pre) > code) {
  background: var(--surface-2);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
  writing-mode: lr;
}

:where(ol, ul) {
  padding-left: var(--size-3);
}

:where(svg:not([width])) {
  vertical-align: middle;
  display: inline-block;
  width: 1em;
}

:where(a > svg) {
  margin-right: var(--size-relative-2);
}

:where(li, dd, figcaption) {
  max-width: var(--size-content-2);
}

/* ------------------------------ custom resets ----------------------------- */

ul.norm {
  list-style-type: none;
  padding: unset;

  li {
    padding: unset;
  }
}