/*
:where(html) {
  accent-color: var(--brand, var(--link));
  background-color: var(--surface-1a);
  height: 100%;
  caret-color: var(--brand, var(--link));
  color: var(--text-1);
  color-scheme: dark;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollthumb-color) transparent;
}

:focus-visible {
  outline-color: var(--brand, var(--link));
}
*,
:after,
:before {
  box-sizing: border-box;
}
:where(:not(dialog)) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
}
:where(h1) {
  font-size: var(--font-size-8);
  max-width: var(--size-header-1);
}
:where(h2) {
  font-size: var(--font-size-6);
  max-width: var(--size-header-2);
}
:where(h3) {
  font-size: var(--font-size-5);
}
:where(h4) {
  font-size: var(--font-size-4);
}
:where(h5) {
  font-size: var(--font-size-3);
}
:where(h3, h4, h5, h6, dt) {
  max-width: var(--size-header-3);
}
:where(p, ul, ol, dl, h6) {
  font-size: var(--font-size-2);
}
:where(a, u, ins, abbr) {
  text-underline-offset: 1px;
} */

:not(pre) > code {
  white-space: initial;
}

ul.norm {
  list-style-type: none;
  padding: unset;
  li {
    padding: unset;
  }
}
