html {
  /* light */
  --brand-light-hsl: var(--day-hs), 60%;
  --surface-1a-light: var(--stone-1);
  --surface-1b-light: var(--stone-2);
  --text-1-light: var(--stone-10);
  --text-muted-light: var(--stone-5);
  --text-on-brand-light: var(--stone-1);
  --border-light: var(--stone-4);

  --text-2-light: var(--stone-7);
  --surface-2-light: var(--stone-2);
  --surface-3-light: var(--stone-1);
  --surface-4-light: var(--stone-4);
  --surface-shadow-light: var(--stone-8-hsl);
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark-hsl: var(--day-hs), 65%;
  --surface-1a-dark: hsl(var(--night-hs), 18%);
  --surface-1b-dark: hsl(var(--night-hs), 12%);
  --text-1-dark: var(--stone-3);
  --text-muted-dark: var(--stone-6);
  --text-on-brand-dark: hsl(var(--night-hs), 12%);
  --border-dark: hsl(var(--night-hs) 40%);

  --text-2-dark: var(--stone-5);
  --surface-2-dark: hsl(var(--night-hs) 30%);
  --surface-3-dark:;
  --surface-4-dark: var(--indigo-9);
  --surface-shadow-dark: var(--stone-12-hsl);
  --shadow-strength-dark: 80%;
}

:root {
  color-scheme: dark;

  --brand: hsl(var(--brand-dark-hsl));
  --brand-hsl: var(--brand-dark-hsl);
  --surface-1a: var(--surface-1a-dark);
  --surface-1b: var(--surface-1b-dark);
  --text-1: var(--text-1-dark);
  --text-muted: var(--text-muted-dark);
  --text-on-brand: var(--text-on-brand-dark);
  --border: var(--border-dark);

  --text-2: var(--text-2-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);

  @media (prefers-color-scheme: light) {
    color-scheme: light;

    /* set defaults */
    --brand: hsl(var(--brand-light-hsl));
    --brand-hsl: var(--brand-light-hsl);
    --surface-1a: var(--surface-1a-light);
    --surface-1b: var(--surface-1b-light);
    --text-1: var(--text-1-light);
    --text-muted: var(--text-muted-light);
    --text-on-brand: var(--text-on-brand-light);
    --border: var(--border-light);

    --text-2: var(--text-2-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
  }
}
