---
interface Props {
	color?: 'muted' | 'tertiary'
}
const {color = 'tertiary'} = Astro.props;
---

<span class:list={['cluster', color === 'muted' && 'muted']} style={{'--cluster-gap': 'var(--space-s)'}}>
	<slot />
</span>

<style>
	span {
		display: flex;
		font-family: var(--font-body);
		font-size: var(--text-caption);
		font-weight: var(--weight-heading);
		letter-spacing: var(--tracking-caps);
		text-transform: uppercase;
		color: var(--text-tertiary);
	}
	span.muted {
		color: var(--text-muted)
	}
</style>
