---

---

<div class='tagline'>
	<slot />
</div>

<style>
	.tagline {
		font-family: var(--font-serif);
		font-weight: var(--weight-heading);
		font-size: var(--text-h3);
		line-height: var(--leading-body);
		color: var(--color-olive);
	}
</style>
