@use "misc";
@use "fluid";

@mixin generate_theme($variables, $suffix) {
  @each $property, $value in $variables {
    --#{$property}-#{$suffix}: #{$value};
  }
}

@mixin apply_theme($suffix) {
  @each $property, $value in $light-theme {
    --#{$property}: var(--#{$property}-#{$suffix});
  }
}

$light-theme: (
  brand-hsl: var(--day-hS) 30%,
  surface-1a-hsl: var(--day-hs) 94%,
  surface-1b: hsl(var(--day-hs) 91%),
  text-1: hsl(var(--day-hs) 30%),
  text-1-strong: hsl(var(--day-hs) 7%),
  text-faded: hsl(var(--day-hs) 43%),
  text-muted: hsl(var(--day-hs) 82%),
  text-on-brand: hsl(var(--day-hs) 94%),
  border: hsl(var(--day-hs) 80%),
);

$dark-theme: (
  brand-hsl: var(--day-hS) 68%,
  surface-1a-hsl: var(--night-hs) 18%,
  surface-1b: hsl(var(--night-hs) 12%),
  text-1: hsl(var(--night-hs) 85%),
  text-1-strong: hsl(var(--night-hs) 97%),
  text-faded: hsl(var(--night-hs) 65%),
  text-muted: hsl(var(--night-hs) 30%),
  text-on-brand: hsl(var(--night-hs) 12%),
  border: hsl(var(--night-hs) 40%),
);

:root {
  @include misc.config-fonts;
  @include misc.config-cgrid;
  @include fluid.type;
  @include fluid.space;

  @include generate_theme($light-theme, light);
  @include generate_theme($dark-theme, dark);

  /* -------------------------------------------------------------------------- */

  color-scheme: dark;
  --brand: hsl(var(--brand-hsl));
  --surface-1a: hsl(var(--surface-1a-hsl));

  @include apply_theme(dark);

  @media (prefers-color-scheme: light) {
    color-scheme: light;
    @include apply_theme(light);
  }
}
[data-theme="dark"] {
  color-scheme: dark;
  @include apply_theme(dark);
}
[data-theme="light"] {
  color-scheme: light;
  @include apply_theme(light);
}
