---
import type { HTMLAttributes } from "astro/types";
import Base, { type BaseProps } from "./Base.astro";

export interface MainProps extends HTMLAttributes<"main">, BaseProps {}

type Props = MainProps;
const { title, description, hasBanner, ...props } = Astro.props;
---

<Base title={title} description={description} hasBanner={hasBanner}>
  <slot slot="sheetBody" name="sheetBody" />
  <main id="main" {...props}>
    <slot />
  </main>
</Base>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: var(--space-xl);
    min-height: 50vh;
  }
</style>
