---
import SITE from "~/data/site";
import "~/styles/global.css";
import Footer from "./Footer.astro";
import Head, { type HeadProps } from "./Head.astro";
import Header, { type HeaderProps } from "./Header.astro";

export type BaseProps = HeadProps & HeaderProps;
type Props = BaseProps;
const { title, description, hasBanner } = Astro.props;
---

<html lang={SITE.language} data-theme="dark">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Header hasBanner={hasBanner}>
      <slot slot="sheetBody" name="sheetBody" />
    </Header>
    <slot />
    <Footer />
    <style is:global>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    </style>
  </body>
</html>
