---
import type { HTMLAttributes } from "astro/types";
import Base, { type BaseProps } from "./Base.astro";

export interface MainProps extends HTMLAttributes<"main">, BaseProps {
  noBottomPadding?: boolean;
}

type Props = MainProps;
const {
  title,
  description,
  hasBanner,
  noBottomPadding = false,
  ...props
} = Astro.props;
---

<Base title={title} description={description} hasBanner={hasBanner}>
  <slot slot="sheetBody" name="sheetBody" />
  <slot slot="head" name="head" />
  <main id="main" {...props} data-pb={noBottomPadding}>
    <slot />
  </main>
</Base>

<style is:global>
  main {
    min-height: 50vh;
  }
  [data-pb="false"] {
    padding-bottom: var(--space-3xl);
  }
</style>
