---
import type { HTMLAttributes } from "astro/types";
import Base, { type BaseProps } from "./Base.astro";

export interface MainProps extends HTMLAttributes<"main"> {}
type Props = MainProps & BaseProps;
const props = Astro.props;
---

<Base title={props.title} description={props.description}>
  <main id="main" {...props}>
    <slot />
  </main>
</Base>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: var(--space-xl);
  }
</style>
