---
import SITE from "~/data/site";
import "~/styles/global.css";
import Head, { type HeadProps } from "./Head.astro";

export type BaseProps = HeadProps;
type Props = BaseProps;
const props = Astro.props;
---

<html lang={SITE.language} data-theme="dark">
  <head>
    <Head {...props} />
  </head>
  <body>
    <slot />
    <style is:global>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    </style>
  </body>
</html>
