---
import type { HTMLAttributes } from "astro/types";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import { SOCIALS } from "~/data/links";
import SocialLink from "../block/SocialLink.astro";

export interface Props extends HTMLAttributes<"section"> {}

const { class: propsClass, ...props } = Astro.props;
---

<section class:list={["region flow-lg", propsClass]} id="contact" {...props}>
  <TagWIcon as="h2" iconName="mdi:connection">
    {" "}<span class="text-faded">#</span> contact
  </TagWIcon>
  <p>You made it to the end! ...Or is it just the beginning?</p>
  <h3 class="sr-only">Social links</h3>
  <ul class="norm flow-xs">
    {
      Object.keys(SOCIALS).map((l) => (
        <li>
          <SocialLink link={l} display="userId" />
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    ul {
      display: grid;
      gap: var(--size-ch-3);
    }
    li {
      width: fit-content;
    }
    a {
      letter-spacing: var(--font-ls-2);
      svg {
        width: var(--step-3);
      }
    }
  }
</style>
