---
import Contact from "./Contact.astro";
// import Breadcrumbs from "~/components/block/Breadcrumbs.astro";
import ThemeToggle from "../block/ThemeToggle.astro";
import SiteNavStack from "./SiteNavStack.astro";
import { formatDisplayDate } from "~/utils/time";
import {gnr} from '~/utils/post';

// const ROUTES_WO_BREADCRUMBS = ["/", "/404"];
---

<footer id="footer" class="flow-xs linew-max">
  <section class="region flow-lg">
    <SiteNavStack />
  </section>
  <hr />
  <Contact />
  <section class="utils-section region">
    <ThemeToggle />
  </section>
  <p class="fine-print">
    <a href={gnr("/meta/colophon")}>colophon</a>
    <span class="text-muted">•</span>
    <a href="https://github.com/chuangcaleb/chuangcaleb.com">source code</a>
  </p>
  <p class="fine-print">
    handcrafted by Chuang Caleb – published on {formatDisplayDate(new Date())}
  </p>
</footer>

<style>
  footer {
    margin-block-start: var(--space-2xl);
    background-color: var(--bg2);
    border-top-width: 1px;
    @media (width < 900px) {
      :global(*) {
        grid-column: max;
      }
    }
    /* hr {
      --border: var(--ui1);
    } */
  }
  .utils-section {
    display: grid;
    justify-content: center;
  }

  .fine-print {
    color: var(--text-faded);
    font-size: var(--step--2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: var(--space-xs);
    justify-self: center;
    grid-column: max;

    a {
      --color: var(--text-faded);
    }
  }
</style>
