---
import Contact from "~/components/section/Contact.astro";
---

<footer id="footer">
  <Contact />
  <p class="fine-print">
    &copy; {new Date().getFullYear()} Chuang Caleb
    <a href="https://github.com/chuangcaleb/chuangcaleb.com">source code</a>
    <a href="/sitemap-index.xml">sitemap</a>
  </p>
</footer>

<style>
  footer {
    margin-top: auto;
    background-color: var(--surface-1b);
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fine-print {
      color: var(--text-faded);
      font-size: var(--font-size-0);
      display: flex;
      justify-content: center;
      gap: var(--size-relative-4);
      justify-self: flex-end;
    }
  }
</style>
