---
import Contact from "./Contact.astro";
import Breadcrumbs from "~/components/block/Breadcrumbs.astro";
import NavigationLinks from "./NavigationLinks.astro";
import ThemeToggle from "../block/ThemeToggle.astro";
---

<footer id="footer" class="flow-xs linew-wide">
  {
    Astro.url.pathname !== "/" && (
      <>
        <section class="region flow-lg">
          <Breadcrumbs />
          <hr />
          <NavigationLinks />
        </section>
        <hr />
      </>
    )
  }
  <Contact />
  <section class="utils-section region">
    <ThemeToggle />
  </section>
  <p class="fine-print">
    <a href="https://github.com/chuangcaleb/chuangcaleb.com">source code</a>
  </p>
  <p class="fine-print">
    handcrafted by Chuang Caleb and published in {new Date().getFullYear()}
  </p>
</footer>

<style>
  footer {
    margin-top: auto;
    background-color: var(--bg2);
    border-top-width: 1px;
    @media (width < 900px) {
      :global(*) {
        grid-column: max;
      }
    }
    /* hr {
      --border: var(--ui1);
    } */
  }
  .utils-section {
    display: grid;
    justify-content: center;
  }

  .fine-print {
    color: var(--text-faded);
    font-size: var(--step--2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: var(--space-xs);
    justify-self: center;
    grid-column: max;

    a {
      --color: var(--text-faded);
    }
  }
</style>
