---
import Contact from "./Contact.astro";
import Breadcrumbs from "~/components/block/Breadcrumbs.astro";
---

<footer id="footer" class="flow-xs cgrid">
  {
    Astro.url.pathname !== "/" && (
      <section class="region">
        <Breadcrumbs />
      </section>
    )
  }
  <Contact />
  <p class="fine-print">
    <a href="https://github.com/chuangcaleb/chuangcaleb.com">source code</a>
    <a href="/sitemap-index.xml">sitemap</a>
  </p>
  <p class="fine-print">
    handcrafted by Chuang Caleb and published in {new Date().getFullYear()}
  </p>
</footer>

<style>
  footer {
    margin-top: auto;
    background-color: var(--surface-1b);
    border-top-width: 1px;
    @media (width < 900px) {
      :global(*) {
        grid-column: max;
      }
    }
  }

  .fine-print {
    color: var(--text-faded);
    font-size: var(--step--2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: var(--space-xs);
    justify-self: center;
    grid-column: max;

    a {
      --color: var(--text-faded);
    }
  }
</style>
