---
import Contact from "@components/blocks/Contact.astro";
---

<footer id="footer">
  <Contact />
  <p class="fine-print">&copy; {new Date().getFullYear()} Chuang Caleb</p>
</footer>

<style>
  footer {
    background-color: var(--surface-1b);
    border-top-color: var(--border);
    border-top-width: 1px;

    .fine-print {
      color: var(--text-muted);
      font-size: var(--font-size-0);
      display: flex;
      justify-content: center;
    }
  }
</style>
