---
import { gnr } from "~/utils/post";
import { formatDisplayDate } from "~/utils/time";
import ThemeToggle from "../block/ThemeToggle.astro";
import Contact from "./Contact.astro";
import SiteNavStack from "./SiteNavStack.astro";
---

<footer id="footer" class="flow-lg">
  <div class="cgrid">
    <div class="footer-body">
      <section class="site-utils-cont | region flow-lg">
        <SiteNavStack />
        <ThemeToggle />
      </section>
      <hr />
      <Contact />
    </div>
  </div>
  <div>
    <p class="fine-print">
      <a href={gnr("/meta/colophon")}>colophon</a>
      <span class="text-muted">•</span>
      <a href="https://github.com/chuangcaleb/chuangcaleb.com">source code</a>
    </p>
    <p class="fine-print">
      handcrafted by Chuang Caleb – published on {formatDisplayDate(new Date())}
    </p>
  </div>
</footer>

<style>
  footer {
    margin-block-start: var(--space-2xl);
    background-color: var(--bg2);
    border-top-width: 1px;
    @media (width < 900px) {
      :global(*) {
        grid-column: max;
      }
    }
  }
  .footer-body {
    grid-column-end: wide;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
    @media (width < 675px) {
      flex-direction: column;
      gap: var(--space-m);
    }
  }

  .site-utils-cont {
    padding-inline-end: var(--space-2xl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: min-content;
  }

  .fine-print {
    color: var(--text-faded);
    font-size: var(--step--2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: var(--space-xs);
    justify-self: center;
    grid-column: max;

    a {
      --color: var(--text-faded);
    }
  }
</style>
