---
import { gnr } from "~/utils/note-route";
import { formatDisplayDate } from "~/utils/time";
import ThemeToggle from "../block/ThemeToggle.astro";
import Contact from "./Contact.astro";
import SiteNavStack from "./SiteNavStack.astro";
import Search from "~/components/block/Search.astro";
import Button from "../styled/polym/Button.astro";
---

<footer id="footer" class="flow-lg linew-wide">
  <SiteNavStack isFooter />

  <Search />
  <div class="utils">
    <ThemeToggle />
    <Button as="a" href="#search-container">Scroll to Search</Button>
    <hr aria-hidden />
  </div>
  <Contact />

  <div>
    <p class="fine-print">
      <a href={gnr("colophon")}>colophon</a>
      <span class="text-muted" aria-hidden>•</span>
      <a href="https://github.com/chuangcaleb/chuangcaleb.com">source code</a>
    </p>
    <p class="fine-print">
      handcrafted by me – site rebuilt on {formatDisplayDate(new Date())}
    </p>
  </div>
</footer>

<style>
  footer {
    padding-top: var(--space-3xl);
    margin-block-start: var(--space-2xl);
    background-color: var(--bg2);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  }

  .utils {
    --flow-space: var(--space-2xl);
    display: flex;
    align-items: center;
    gap: var(--space-s);
    hr {
      flex: 1;
    }
  }
  .fine-print {
    color: var(--text-faded);
    font-size: var(--step--1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: var(--space-xs);
    justify-self: center;
    grid-column: max;

    a {
      --color: var(--text-faded);
    }
  }
</style>
