---
import NAV_LINKS from "~/data/nav";
import Banner from "../block/Banner.astro";
import NavSheet from "../block/NavSheet/NavSheet.astro";
import LinkList from "../block/LinkList.astro";

export interface HeaderProps {
  hasBanner?: false;
}
type Props = HeaderProps;

const { hasBanner = true } = Astro.props;
---

<header>
  <div class="skip-container | sr-only-unfocused flow-sm">
    <a href="#main">Skip to content →</a>
    <a href="#footer">Skip to footer →</a>
  </div>
  {
    hasBanner && (
      <Banner>
        <nav class="flex-row">
          <h2 class="sr-only">Site navigation</h2>
          <a href={NAV_LINKS.INDEX.href}>{NAV_LINKS.INDEX.shortLabel}</a>
          <span class="text-muted">•</span>
          <LinkList
            class="flex-row"
            links={Object.values(NAV_LINKS).filter((l) => l.isInHeader)}
          />
        </nav>
      </Banner>
    )
  }
  <NavSheet>
    <slot slot="sheetBody" name="sheetBody" />
  </NavSheet>
</header>

<style is:global>
  .skip-container {
    position: fixed;
    padding: var(--size-3);
    z-index: 10;

    transition: transform 0.3s;
    transform: translateY(-100%);

    border-right-width: 1px;
    border-bottom-width: 1px;
    border-bottom-right-radius: var(--radius-2);

    background-color: var(--bg2);
    line-height: var(--font-lineheight-4);
    &:focus-within {
      transform: translateY(0%);
    }
    a {
      display: block;
    }
  }
  nav {
    /* justify-content: space-between; */
    font-size: var(--step-0);
    padding-right: var(--size-8);
    > a {
      font-family: var(--font-heading-serif);
    }
  }
</style>
