---
import NavSheet from "../block/NavSheet";
---

<header>
  <div class="skip-container | sr-only-unfocused flow-sm">
    <a href="#main">Skip to content →</a>
    <a href="#footer">Skip to footer →</a>
  </div>
  <NavSheet client:idle />
</header>

<style is:global>
  .skip-container {
    position: fixed;
    padding: var(--size-3);
    z-index: 10;

    transition: transform 0.3s;
    transform: translateY(-100%);

    border-right-width: 1px;
    border-bottom-width: 1px;
    border-bottom-right-radius: var(--radius-2);

    background-color: var(--bg2);
    line-height: var(--font-lineheight-4);
    &:focus-within {
      transform: translateY(0%);
    }
    a {
      display: block;
    }
  }
</style>
