---
import Banner from "../block/Banner.astro";
import NavSheet from "../block/NavSheet/NavSheet.astro";
import SiteNavStack from "./SiteNavStack.astro";

export interface HeaderProps {
  hasBanner?: false;
}
type Props = HeaderProps;

const { hasBanner = true } = Astro.props;
---

<header>
  <div class="skip-container | sr-only-unfocused flow-sm">
    <a href="#main" aria-label="Skip to content">Skip to content →</a>
    <a href="#footer" aria-label="Skip to footer">Skip to footer →</a>
  </div>
  {
    hasBanner && (
      <Banner>
        <SiteNavStack class="flex-row" variant="header" />
      </Banner>
    )
  }
  <NavSheet>
    <slot name="sheetBody" />
  </NavSheet>
</header>

<style>
  .skip-container {
    position: fixed;
    padding: var(--space-s);
    z-index: 10;

    transition: transform 0.3s;
    transform: translateY(-100%);

    border-right-width: 1px;
    border-bottom-width: 1px;
    border-bottom-right-radius: var(--radius-2);

    background-color: var(--bg2);
    line-height: var(--font-lh-4);
    &:focus-within {
      transform: translateY(0%);
    }
    a {
      display: block;
    }
  }
  nav {
    font-size: var(--step-1);
    padding-right: var(--size-8);
    & > :global(a) {
      font-family: var(--font-heading-serif);
    }
  }
</style>
