---
import type { HTMLAttributes } from "astro/types";
import Base, { type BaseProps } from "./Base.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface MainProps extends HTMLAttributes<"main"> {}
type Props = MainProps & BaseProps;

const { description, title, ...props } = Astro.props;
---

<Base title={title} description={description}>
  <Header />
  <main id="main" {...props}>
    <slot />
  </main>
  <Footer />
</Base>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: var(--size-fluid-5);
  }
</style>
