---
import type { HTMLAttributes } from "astro/types";

export interface MainProps extends HTMLAttributes<"main"> {}
type Props = MainProps;
const props = Astro.props;
---

<main id="main" {...props}>
  <slot />
</main>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: var(--space-xl);
  }
</style>
