---
import Icon from "astro-iconify";
import NAV_LINKS from "~/data/nav";
import TagWIcon from "../styled/polym/TagWIcon.astro";
---

<nav>
  <h2 class="sr-only">Site navigation</h2>
  <ul class="flow-sm">
    {
      Object.values(NAV_LINKS).map((l) => (
        <li>
          <TagWIcon as="a" href={l.href}>
            {l.icon && <Icon name={l.icon} />} {l.label}
          </TagWIcon>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    color: var(--text-faded);
  }
</style>
