---
import Icon from "astro-iconify";
import NAV_LINKS from "~/data/nav";
---

<ul class="flow-sm">
  {
    Object.values(NAV_LINKS).map((l) => (
      <li>
        {l.icon && <Icon name={l.icon} />} <a href={l.href}>{l.label}</a>
      </li>
    ))
  }
</ul>

<style>
  a {
    color: var(--text-faded);
  }
</style>
