---
import Icon from "astro-iconify";
import NAV_LINKS from "~/data/nav";
---

<nav>
  <h2 class="sr-only">Site navigation</h2>
  <ul class="flow-sm">
    {
      Object.values(NAV_LINKS).map((l) => (
        <li>
          {l.icon && <Icon name={l.icon} />} <a href={l.href}>{l.label}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    color: var(--text-faded);
  }
</style>
