---
import type { HTMLAttributes } from "astro/types";
import { NAV_LINKS } from "~/data/links";
import LinkList from "../block/LinkList.astro";

interface Props {
  variant: "header" | "footer" | "sheet";
  class?: HTMLAttributes<"ul">["class"];
}

const { variant, class: propsClass } = Astro.props;
---

<nav aria-label="Site navigation">
  <h2 class="sr-only">Site navigation</h2>
  <LinkList
    class={propsClass ?? "flow-sm"}
    links={Object.values(NAV_LINKS).filter((link) =>
      link.enabled.includes(variant),
    )}
    variant={variant === "sheet" ? undefined : variant}
  />
</nav>

<style>
  * {
    --color-underline: var(--fg3);
  }
</style>
