---
import HeadingWIcon from "@components/styled/polym/HeadingWIcon.astro";
import ProjectCard from "@components/template/ProjectCard.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";

const projects = (await getCollection("project")).sort(
  (a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf(),
);
---

<section class="projects-section">
  <HeadingWIcon as="h2">
    <Icon name="lucide:atom" />
    {" "}<span class="text-muted">/</span> projects
  </HeadingWIcon>
  <div class="projects">
    {projects.map((p) => <ProjectCard project={p} />)}
  </div>
</section>

<style is:global>
  .projects-section {
    h2 {
      margin-bottom: var(--size-fluid-4);
    }
  }
  .projects {
    display: grid;
    gap: var(--size-fluid-5);
  }
</style>
