---
import HeadingWIcon from "@components/HeadingWIcon.astro";
import HighlightCard from "@components/HighlightCard/HighlightCard.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";

const projects = (await getCollection("project")).sort(
  (a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf(),
);
---

<section class="projects-section">
  <HeadingWIcon as="h2"><Icon name="lucide:atom" /> projects</HeadingWIcon>
  <div class="projects">
    {projects.map((h) => h)}
  </div>
</section>

<style is:global>
  .projects-section {
  }
</style>
