@use "borders";
@use "fonts";
@use "sizes";
@use "fluid";
@use "../utilities/grid/tokens" as grid;
@use "dynamic-colors";
@use "theme";

:root {
  @include borders.tokens;
  @include fonts.tokens;
  @include sizes.tokens;

  @include fluid.type;
  @include fluid.space;

  @include grid.tokens;

  @include dynamic-colors.tokens;

  // base colors
  --text-strong: var(--fg1);
  --text-normal: var(--fg2);
  --text-faded: var(--fg3);
  --text-muted: var(--fg4);
  --text-on-ax: var(--fg9);
  --border: var(--ui2);

  // utilities
  --color-underline: var(--ax3);
  --color-hover: var(--text-strong);

  @include theme.dark();
  @media (prefers-color-scheme: light) {
    @include theme.light();
  }
}

[data-theme="dark"] {
  @include theme.dark();
}
[data-theme="light"] {
  @include theme.light();
}
