@mixin tokens {
  --font-heading-serif: "Alegreya", "Times New Roman", Candara, system-ui, serif;
  --font-heading-sans: "Alegreya Sans", "Times New Roman", Candara, system-ui,
    sans-serif;
  --font-mono: "Courier Prime", "Courier New", "Nimbus Mono PS", Courier,
    ui-monospace, monospace;
  --font-body: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans",
    Segoe UI, Helvetica, Arial, sans-serif;

  // --fw-1: 100;
  // --fw-2: 200;
  // --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  // --fw-9: 900;

  --font-lh-00: 0.95;
  --font-lh-0: 1.1;
  --font-lh-1: 1.25;
  --font-lh-2: 1.375;
  --font-lh-3: 1.5;
  --font-lh-4: 1.65;
  // --font-lh-5: 2;

  // --font-ls-0: -0.05em;
  --font-ls-1: 0.025em;
  --font-ls-2: 0.05em;
  --font-ls-3: 0.075em;
  --font-ls-4: 0.15em;
  // --font-ls-5: 0.5em;
  // --font-ls-6: 0.75em;
  // --font-ls-7: 1em;
}
