@mixin config-cgrid {
  --size-blockquote-strip: var(--size-ch-3);
  --size-blockquote-indent: var(--size-ch-7);
  --size-popout: calc(
    var(--size-blockquote-strip) + var(--size-blockquote-indent)
  );
}
