@mixin dark {
  color-scheme: dark;
  --base-h: 234;
  --base-s: 18%;
  --base-l: 18%;

  // hsl(178, 51%, 55%)
  --accent-h: 9;
  --accent-s: 70%;
  --accent-l: 65%;

  --m: 1;
  --a-l: 1;

  --fw-strong: var(--fw-6);
}

@mixin light {
  color-scheme: light;
  --base-h: 44;
  --base-s: 30%;
  --base-l: 90%;

  --accent-h: 0;
  --accent-s: 70%;
  --accent-l: 35%;

  --m: -1;
  --a-l: 1.5;

  --fw-strong: var(--fw-5);
}
