---
import type { CollectionEntry } from "astro:content";
import { getCldImgData } from "lib/cloudinary/get";
import UINestednline from "~/components/styled/monom/UINestednline.astro";
import Caps from "~/components/styled/polym/Caps.astro";
import CldImg from "../primitives/CldImg.astro";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;

const components = {
  blockquote: "header",
  h1: "h3",
  h2: Caps,
  ul: UINestednline,
};

const { Content } = await project.render();

const i = getCldImgData("projects/" + project.slug);
---

<article class="project">
  <div class="project-body">
    <Content components={components} />
  </div>
  {
    i ? (
      <CldImg resource={i} hasBorder sizes="(max-width: 815px) 95vw, 40vw" />
    ) : (
      <div />
    )
  }
</article>

<style is:global>
  .project {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-header-3), 1fr));
    column-gap: var(--size-fluid-5);
    row-gap: var(--size-fluid-2);

    img {
      width: min(100%, var(--size-content-3));
    }
  }
  .project-body {
    display: grid;
    max-width: var(--size-content-3);
    & > * + * {
      margin-top: var(--size-relative-6);
    }
    header {
      display: grid;
      :not(h3) {
        order: -1;
      }
    }

    em {
      font-family: var(--font-mono);
      display: inline-flex;
      gap: var(--size-relative-2);
    }
    em,
    li > svg {
      color: var(--text-muted);
    }
  }
</style>
