---
import UlInline from "~/components/styled/monom/UlInline.astro";
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import type { SkillGroup } from "~/data/skills";
import Icon from "astro-iconify";
interface Props {
  name: string;
  group: SkillGroup;
}

const { name, group } = Astro.props;
const { icon, skills } = group;
---

<article class="skill-group-card | flow-sm">
  <HeadingWIcon as="h3">
    {icon && <Icon name={icon} />}{name}
  </HeadingWIcon>
  <UlInline>
    {
      skills.map((s) => (
        <li>
          <span class="style-code">{s}</span>
        </li>
      ))
    }
  </UlInline>
</article>

<style is:global>
  .skill-group-card {
    background-color: var(--surface-1b);
    padding: var(--size-relative-5);

    border-radius: var(--radius-2);
    border-width: 1px;

    h3 {
      font-size: var(--font-size-4);
    }
    ul {
      font-size: var(--font-size-fluid-0);
    }
    li > span {
      background-color: var(--surface-1a);
    }
  }
</style>
