---
import type { NoteMetadata } from "lib/utils/types";
import MetadataValueItem from "./MetadataValueItem.astro";

export type MetadataValues = NoteMetadata[keyof NoteMetadata];
interface Props {
  value: MetadataValues;
}

const { value } = Astro.props;

// const isLink = LINK_KEYS.includes(key);
const isArray = Array.isArray(value);
const isSingleArrayItem = isArray && value.length === 1;
---

{
  isArray && !isSingleArrayItem && (
    <ul>
      {value.map((item) => (
        <li>
          <MetadataValueItem value={item} />
        </li>
      ))}
    </ul>
  )
}
{!isArray && <MetadataValueItem value={value} />}
{isSingleArrayItem && <MetadataValueItem value={value[0]} />}
<style>
  ul {
    list-style-type: disc;
  }
</style>
