---
import { EXCLUDE_KEYS } from "lib/obsidian/consts";
import MetadataValue from "../metadata/MetadataValue.astro";
import type { CollectionEntry } from "astro:content";

export type MetadataProps = CollectionEntry<"obsidian-note">["data"];

type Props = { metadata: MetadataProps };

const { metadata } = Astro.props;
// TODO: sort metadata; by value type, then by key
const metadataArray = Object.entries(metadata);
---

{
  metadataArray.length > 0 && (
    <>
      <h4>Metadata</h4>
      <ul class="metadata-root">
        {metadataArray.map(([key, value]) => {
          if (!value) return;
          if (EXCLUDE_KEYS.includes(key)) return;
          return (
            <li>
              {key} :: <MetadataValue key={key} value={value} />
            </li>
          );
        })}
      </ul>
    </>
  )
}
<style>
  ul {
    color: var(--text-faded);
    font-size: var(--step--1);
  }
  h4 {
    font-size: var(--step-1);
  }
</style>
