---
import type { CollectionEntry } from "astro:content";
import { EXCLUDE_KEYS } from "lib/obsidian/consts";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import MetadataValue from "../metadata/MetadataValue.astro";

export type MetadataProps = CollectionEntry<"obsidian-note">["data"];

type Props = { metadata: MetadataProps };

const { metadata } = Astro.props;
// TODO: sort metadata; by value type, then by key
const metadataArray = Object.entries(metadata);
---

{
  metadataArray.length > 0 && (
    <section>
      <TagWIcon as="h4" iconColor="fg3" iconName="lucide:database-zap">
        Metadata
      </TagWIcon>
      <ul class="metadata-root">
        {metadataArray.map(([key, value]) => {
          if (!value) return;
          if (EXCLUDE_KEYS.includes(key)) return;
          return (
            <li>
              {key} :: <MetadataValue key={key} value={value} />
            </li>
          );
        })}
      </ul>
    </section>
  )
}
<style>
  section {
    max-width: var(--size-header-3);
    color: var(--text-faded);
    & :global(*) {
      font-size: var(--step--1);
    }
  }
  li:first-child{
    border-top-width: 1px;
  }
  li {
    border-bottom-width: 1px;
    padding-block: var(--space-3xs)
  }
  h4 {
    font-size: var(--step-1);
  }
</style>
