---
import UlIcon from "@components/styled/monom/UlIcon.astro";
import HeadingWIcon from "@components/styled/polym/HeadingWIcon.astro";
import LINKS from "@data/links";
import Icon from "astro-iconify";
---

<section class="contact-section" id="contact">
  <HeadingWIcon as="h2">
    <Icon name="mdi:connection" />
    {" "}<span class="text-muted">#</span> contact
  </HeadingWIcon>
  <p>You made it to the end! ...Or is it just the beginning?</p>
  <UlIcon>
    {
      Object.values(LINKS).map((l) => (
        <li>
          <a href={l.href} aria-label={l.ariaLabel}>
            <Icon name={l.icon} /> {l.appId ?? l.label}
          </a>
        </li>
      ))
    }
  </UlIcon>
</section>

<style is:global>
  .contact-section {
    & > * + * {
      margin-top: var(--size-relative-8);
    }
    ul {
      display: grid;

      gap: var(--size-relative-3);
    }
    li {
      width: fit-content;
    }
  }
  /* :not(h2, ul, li) > * + * {
    margin-top: var(--size-relative-8);
  } */
</style>
