---
import heroImg from "@assets/hero.jpeg";
import Button from "@components/primitives/button.astro";
import HeadingCaps from "@components/styled/polym/Caps.astro";
import LINKS from "@data/links";
import { Icon } from "astro-iconify";
import { Image } from "astro:assets";

const { LINKEDIN, GITHUB, CV } = LINKS;
const heroLinks = [GITHUB, LINKEDIN, CV];
---

<section class="hero-section">
  <header>
    <HeadingCaps as="h1">Chuang Caleb</HeadingCaps>
    <h2>
      Frontend Web Dev <span class="deemph">with a</span>
      <span class="gradient"> different story.</span>
    </h2>
  </header>
  <div class="subheader">
    <p>
      <code>
        <span class="nowrap"
          >sometimes(<span class="text-brand">"writing-code"</span>);</span
        >{" "}
        <span class="nowrap"
          >always(<span class="text-brand">"story-writing"</span>);</span
        >
      </code>
    </p>
    <div>
      <Button as="a" theme="brand" class="cta-1" href="#contact">
        <Icon name="mdi:connection" />
         Get connected!
      </Button>
      <ul class="norm buttons">
        {
          heroLinks.map((l) => (
            <li>
              <Button as="a" href={l.href} aria-label={l.ariaLabel}>
                <Icon name={l.icon} aria-hidden="true" />
              </Button>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <Image
    src={heroImg}
    alt="Head profile of Chuang Caleb"
    width={heroImg.width / 4}
    densities={[1, 2, 3, 4]}
    loading="eager"
  />
</section>

<style is:global>
  .hero-section {
    display: grid;
    column-gap: var(--size-fluid-3);
    grid-template: "header" "subheader" "img";
    align-items: center;
    padding-top: var(--size-fluid-2);

    header {
      display: grid;
      gap: var(--size-fluid-1);
      grid-area: header;
      margin-bottom: var(--size-fluid-2);
    }

    .subheader {
      display: grid;
      gap: var(--size-fluid-2);
      grid-area: subheader;
      margin-bottom: var(--size-fluid-3);
    }

    h1 {
      font-size: var(--font-size-fluid-1);
    }

    h2 {
      font-size: var(--font-size-fluid-3);
      line-height: var(--font-lineheight-0);
      max-width: 15ch;
    }

    img {
      --_size: min(250px, 55vw);
      height: var(--_size);
      width: var(--_size);
      grid-area: img;
      border-radius: var(--radius-2);
    }

    ul.buttons {
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-fluid-1);
    }

    .cta-1 {
      flex-grow: 1;
      max-width: var(--size-content-1);
    }

    div:has(> .buttons) {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--size-fluid-2);
      row-gap: var(--size-fluid-2);
    }

    @media screen and (width < 500px) {
      img {
        margin-inline: auto;
      }
    }
    @media screen and (500px <= width < 896px) {
      & {
        grid-template: "header header" "img subheader";
        grid-template-columns: min-content 1fr;
      }
      img {
        --_size: max(180px, 25vw);
      }
      .subheader {
        margin-bottom: 0;
        max-width: var(--size-content-2);
      }
    }
    @media screen and (width >= 896px) {
      & {
        grid-template: "header img" "subheader img";
        grid-template-columns: 1fr min-content;
      }
      img {
        --_size: min(300px, 30vw);
      }
    }

    code {
      display: block;
      font-size: var(--font-size-fluid-0);
    }

    .gradient {
      background: linear-gradient(to bottom right, var(--text-1), var(--brand));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .deemph {
      font-weight: initial;
    }
  }
</style>
