---
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import Icon from "astro-iconify";
import SKILLS from "~/data/skills";
import SkillGroupCard from "~/components/template/SkillGroupCard.astro";

const skillGroups = Object.entries(SKILLS);
---

<section class="skills-section">
  <HeadingWIcon as="h2">
    <Icon name="lucide:book-plus" />
    {" "}<span class="text-muted">/</span> skills
  </HeadingWIcon>
  <div class="skills">
    {
      skillGroups.map(([name, groupData]) => (
        <SkillGroupCard name={name} group={groupData} />
      ))
    }
  </div>
</section>

<style is:global>
  .skills-section {
    & > * + * {
      margin-top: var(--size-relative-10);
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-rows: 1fr;
      justify-content: center;
      gap: var(--size-fluid-2);
      @media screen and (width < 982px) {
        grid-template-columns: repeat(
          auto-fit,
          minmax(var(--size-content-1), 1fr)
        );
      }
    }
  }
</style>
