---
import { Icon } from "astro-icon/components";
import BaseMain from "~/components/layout/BaseMain.astro";
import Button from "~/components/styled/polym/Button.astro";
---

<BaseMain title="404 Not Found" class="linew region flow-lg">
  <article class="flow-lg">
    <div class="flow">
      <h1>404</h1>
      <p>Page not Found.</p>
    </div>
    <hr />
    <pre><code id="code-block">Loading...<noscript> Javascript required; if it were, this would show your current url path.</noscript></code></pre>
    <div class="flex-row">
      <Button as="a" href="/" variant="brand">
        <Icon name="lucide:home" />take me home</Button
      >
      <Button as="a" href="/notes">
        <Icon name="lucide:trees" />
        see the garden?</Button
      >
    </div>
  </article>
</BaseMain>
<script>
  const codeBlock = document.getElementById("code-block");
  if (codeBlock) {
    codeBlock.textContent =
      window.location.host +
      "\n" +
      window.location.pathname.split("/").join("\n/").slice(1);
  }
</script>
