---
import Icon from "astro-iconify";
import BaseMain from "~/components/layout/BaseMain.astro";
import Button from "~/components/styled/polym/Button.astro";
---

<BaseMain title="404 Not Found" class="linew region flow-lg">
  <article class="flow-lg">
    <header class="flow">
      <h1>404</h1>
      <p>Page not Found. <em>Womp womp.</em></p>
    </header>
    <hr />
    <p>I'll add something witty here another time.</p>
    <div class="flex-row">
      <Button as="a" href="/" variant="brand">
        <Icon name="lucide:home" />take me home</Button
      >
      <Button as="a" href="/garden">
        <Icon name="lucide:trees" />
        see the garden?</Button
      >
    </div>
  </article>
</BaseMain>
