---
import BaseMain from "~/components/layout/BaseMain.astro";
import Button from "~/components/styled/polym/Button.astro";
const url = Astro.url;
---

<BaseMain title="404 Not Found" class="linew region flow-lg">
  <article class="flow-lg">
    <header class="flow">
      <h1>404</h1>
      <p>Page not Found. <em>Womp womp.</em></p>
      <p><code>{url}</code></p>
    </header>
    <hr />
    <p>I'll add something witty here another time.</p>
    <p><Button as="a" href="/" theme="brand">take me home</Button></p>
  </article>
</BaseMain>
