---
import Icon from "astro-iconify";
import BaseMain from "~/components/layout/BaseMain.astro";
import Button from "~/components/styled/polym/Button.astro";
---

<BaseMain title="404 Not Found" class="linew region flow-lg">
  <article class="flow-lg">
    <header class="flow">
      <h1>404</h1>
      <p>Page not Found. <em>Womp womp.</em></p>
    </header>
    <hr />
    <pre><code id="code-block">Javascript not enabled; this segment would show your current url path.</code>
      </pre>
    <div class="flex-row">
      <Button as="a" href="/" variant="brand">
        <Icon name="lucide:home" />take me home</Button
      >
      <Button as="a" href="/garden">
        <Icon name="lucide:trees" />
        see the garden?</Button
      >
    </div>
  </article>
</BaseMain>
<script>
  const codeBlock = document.getElementById("code-block");
  if (codeBlock) {
    codeBlock.textContent =
      window.location.host +
      "\n" +
      window.location.pathname.split("/").join("\n/").slice(1);
  }
</script>
