---
import { ThemeDropdown } from "~/components/block/ThemeDropdown";
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/section/Hero.astro";
import Highlights from "~/components/section/Now.astro";
import Projects from "~/components/section/Projects.astro";
import Skills from "~/components/section/Skills.astro";
import SITE from "~/data/site";
---

<Main
  class="main-index | cgrid-wide"
  title={`${SITE.title} - ${SITE.subtitle}`}
>
  <Hero class="wide" />
  <!-- <Highlights /> -->
  <section class="code-banner | region">
    <code
      >writing("<span class="text-brand">code</span>"); “<span
        class="text-brand">story</span
      >-writing”</code
    >
  </section>
  <section class="utils-section">
    <ThemeDropdown client:only />
  </section>
  <Projects />
  <Skills />
</Main>

<style>
  .main-index {
    .index-wrapper {
      grid-column: max;
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--size-fluid-5);
      justify-content: space-evenly;
      row-gap: var(--size-fluid-6);
      margin-inline: auto;
    }

    .hero-section {
      flex-basis: 0;
      flex-grow: 999;
      min-inline-size: 53%;
    }

    .highlights-section {
      flex-grow: 1;
      flex-basis: var(--size-content-2);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        border-width: 1px;
        border-color: var(--border);
        border-style: solid;
        left: calc(var(--gutter) * -1 - 2px);
        top: -50px;
        height: calc(100% + 50px);
      }
    }

    .code-banner {
      display: grid;
      grid-column: full;
      grid-template-columns: subgrid;
    }

    code {
      grid-column: max;
      padding-block: var(--size-fluid-3);
      text-align: center;
    }

    .utils-section {
      text-align: center;
    }
  }
</style>
