---
import { ThemeDropdown } from "~/components/block/ThemeDropdown";
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/section/Hero.astro";
import Highlights from "~/components/section/Now.astro";
import Projects from "~/components/section/Projects.astro";
import Skills from "~/components/section/Skills.astro";
import SITE from "~/data/site";
---

<Main
  class="main-index | cgrid-wide"
  title={`${SITE.title} - ${SITE.subtitle}`}
>
  <Hero class="wide" />
  <Highlights />
  <!-- <section class="code-banner | region">
    <code
      >writing("<span class="text-brand">code</span>"); “<span
        class="text-brand">story</span
      >-writing”</code
    >
  </section> -->
  <section class="utils-section">
    <ThemeDropdown client:only />
  </section>
  <Projects />
  <Skills />
</Main>

<style>
  /* .main-index {
    .code-banner {
      display: grid;
      grid-column: full;
      grid-template-columns: subgrid;
    }

    code {
      grid-column: max;
      padding-block: var(--size-fluid-3);
      text-align: center;
    }
  } */

  .utils-section {
    text-align: center;
    padding-block: var(--space-m);
    font-size: var(--step-1);
  }
</style>
