---
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/blocks/Hero.astro";
import Highlights from "~/components/blocks/Now.astro";
import Projects from "~/components/blocks/Projects.astro";
import Skills from "~/components/blocks/Skills.astro";
---

<Main class="main-index content-grid-max flow-2xl">
  <div class="wrapper">
    <Hero />
    <Highlights />
  </div>
  <Projects />
  <Skills />
</Main>

<style is:global>
  .main-index {
    padding-bottom: var(--size-relative-12);
    .wrapper {
      padding-block: var(--size-relative-8);
      max-width: var(--size-xl);
      margin-inline: auto;
    }
    .skills-section,
    .projects-section {
      grid-column: wide;
    }
    @media screen and (width < 1024px) {
      .wrapper > * + * {
        margin-top: var(--size-relative-12);
      }
    }
    @media screen and (width >= 1024px) {
      .wrapper {
        display: grid;
        grid-template-columns: 5fr 3fr;
        gap: var(--size-relative-10);
      }

      .highlights-section {
        padding-block: var(--size-relative-8);
      }
    }
  }
</style>
