---
import Main from "@layouts/Main.astro";
---

<Main>
  <h1>Chuang Caleb</h1>
  <p
    class="mx-auto mb-8 mt-4 max-w-lg text-2xl sm:text-3xl md:text-4xl lg:mx-0 lg:max-w-xl"
  >
    <strong>Software Dev</strong>—specializing in <strong
      class="whitespace-nowrap">Front-End Web</strong
    >.
  </p>
  <code class="lg:text-lg"
    >Sometimes writing code; <span class="whitespace-nowrap"
      >always crafting experiences.</span
    >
  </code>
</Main>
