---
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/blocks/Hero.astro";
import Highlights from "~/components/blocks/Now.astro";
import Projects from "~/components/blocks/Projects.astro";
import Skills from "~/components/blocks/Skills.astro";
---

<Main class="main-index content-grid-wide flow-2xl">
  <div class="wrapper">
    <Hero />
    <Highlights />
  </div>
  <Projects />
  <Skills />
</Main>

<style is:global>
  .main-index {
    padding-top: var(--size-fluid-3);
    padding-bottom: var(--size-fluid-6);
    .wrapper {
      display: grid;
      grid-column: max;
      max-width: var(--size-xl);
      margin-inline: auto;
    }

    @media screen and (width < 1024px) {
      .wrapper > * + * {
        margin-top: var(--size-relative-12);
      }
    }
    @media screen and (width >= 1024px) {
      .wrapper {
        grid-template-columns: 5fr 3fr;
        column-gap: var(--size-relative-10);
      }
    }
  }
</style>
