---
import Main from "@layouts/Main.astro";
---

<Main>
  <h1>Chuang Caleb</h1>
  <p>
    <strong>Software Dev</strong>—specializing in <strong
      class="whitespace-nowrap">Front-End Web</strong
    >.
  </p>
  <code>sometimes("writing code"); always("crafting experiences");</code>
</Main>
