---
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/blocks/Hero.astro";
import Highlights from "~/components/blocks/Now.astro";
import Projects from "~/components/blocks/Projects.astro";
import Skills from "~/components/blocks/Skills.astro";
---

<Main class="main-index content-grid-max flow">
  <div class="wrapper flow">
    <Hero />
    <Highlights />
  </div>
  <Projects />
  <Skills />
</Main>

<style is:global>
  .main-index {
    .wrapper {
      /* padding-block: var(--size-relative-8); */
    }
    @media screen and (width > 1024px) {
      .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: var(--size-relative-10);
      }

      .hero-section {
        grid-column: span 2 / span 2;
      }
      .highlights-section {
        grid-column: span 1 / span 1;
      }
    }
  }
</style>
