---
import Main from "@layouts/Main.astro";
import Hero from "./index/_Hero.astro";
import Highlights from "./index/_Now.astro";
import Projects from "./index/_Projects.astro";
---

<Main class="main-index">
  <Hero />
  <Highlights />
  <Projects />
</Main>
