---
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/blocks/Hero.astro";
import Highlights from "~/components/blocks/Now.astro";
import Projects from "~/components/blocks/Projects.astro";
import Skills from "~/components/blocks/Skills.astro";
---

<Main class="main-index">
  <div class="max">
    <Hero />
    <Highlights />
  </div>
  <Projects />
  <Skills />
</Main>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    column-gap: var(--gutter);
  }
</style>
