---
import { ThemeDropdown } from "~/components/block/ThemeDropdown";
import BaseMain from "~/components/layout/BaseMain.astro";
import Hero from "./_components/Hero.astro";
import Overview from "./_components/overview/index.astro";
import Projects from "./_components/projects/index.astro";
import Skills from "./_components/skills/index.astro";
import SITE from "~/data/site";
---

<BaseMain
  title={`${SITE.title} - ${SITE.subtitle}`}
  class="main-index | linew-wide"
>
  <Hero />
  <Overview />
  <section class="utils-section">
    <ThemeDropdown client:only="react" />
  </section>
  <Projects />
  <Skills />
</BaseMain>

<style>
  .utils-section {
    text-align: center;
    padding-block: var(--space-m);
    font-size: var(--step-1);
  }
</style>
