---
import Main from "@layouts/Main.astro";
import Button from "@components/button.astro";
import { Icon } from "astro-iconify";
import LINKS from "@data/links";

const { LINKEDIN, GITHUB, CV } = LINKS;
const heroLinks = [GITHUB, LINKEDIN, CV];
---

<Main>
  <section class="hero-section">
    <header>
      <h1>Chuang Caleb</h1>
      <h2>
        Frontend Web Dev <span class="deemph">with a</span>
        <span class="gradient"> different story.</span>
      </h2>
    </header>
    <div class="subheader">
      <p>
        <code>
          <span class="nowrap"
            >sometimes(<span class="text-brand">"writing-code"</span>);</span
          >{" "}
          <span class="nowrap"
            >always(<span class="text-brand">"story-writing"</span>);</span
          >
        </code>
      </p>
      <div>
        <Button class="brand">
          <Icon name="mdi:connection" />
          <span>Get connected!</span>
        </Button>
        <ul class="norm buttons">
          {
            heroLinks.map((l) => (
              <li>
                <Button asChild>
                  <a aria-label={l.ariaLabel} href={l.href}>
                    <Icon name={l.icon} />
                  </a>
                </Button>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <img
      src="https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=900"
      srcset="https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=300 300w, https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=600 600w, https://www.gravatar.com/avatar/29d863c08e05a20bab30479ecae823eb?s=900 900w"
      alt="Head profile of Chuang Caleb"
      height="400"
      width="400"
    />
  </section>
</Main>

<style is:global>
  .hero-section {
    display: grid;
    column-gap: var(--size-fluid-3);
    max-width: calc(var(--size-lg));
    grid-template: "header" "subheader" "img";
    align-items: center;

    header {
      display: grid;
      gap: var(--size-fluid-1);
      grid-area: header;
      margin-bottom: var(--size-fluid-2);
    }

    .subheader {
      display: grid;
      gap: var(--size-fluid-2);
      grid-area: subheader;
      margin-bottom: var(--size-fluid-3);
    }

    h1 {
      font-size: var(--font-size-fluid-1);
      font-weight: var(--font-weight-4);
      color: var(--brand);
      text-transform: uppercase;
      letter-spacing: var(--font-letterspacing-4);
    }

    h2 {
      font-size: var(--font-size-fluid-3);
      font-weight: var(--font-weight-8);
      line-height: var(--font-lineheight-0);
      /* max-width: var(--size-header-1); */
      max-width: 15ch;
    }
    img {
      --_size: min(250px, 55vw);
      border-radius: var(--radius-2);
      max-height: var(--_size);
      max-width: var(--_size);
      grid-area: img;
    }

    ul.buttons {
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-fluid-1);
    }

    div:has(> .buttons) {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--size-fluid-2);
      row-gap: var(--size-fluid-2);
      align-items: start;
    }

    @media screen and (max-width: 400px) {
      img {
        margin-inline: auto;
      }
    }
    @media screen and (min-width: 500px) {
      & {
        grid-template: "header header" "img subheader";
        grid-template-columns: min-content 1fr;
      }
      img {
        --_size: max(180px, 25vw);
      }
      .subheader {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 870px) {
      & {
        grid-template: "header img" "subheader img";
        grid-template-columns: 1fr min-content;
      }
      img {
        --_size: min(300px, 30vw);
      }
    }

    code {
      display: block;
      font-size: var(--font-size-fluid-0);
    }

    .gradient {
      background: linear-gradient(to bottom right, var(--text-1), var(--brand));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .deemph {
      font-weight: initial;
    }
  }
</style>
