---
import { ThemeDropdown } from "~/components/block/ThemeDropdown";
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/section/Hero.astro";
import Highlights from "~/components/section/Now.astro";
import Projects from "~/components/section/Projects.astro";
import Skills from "~/components/section/Skills.astro";
import SITE from "~/data/site";
---

<Main
  class="main-index | cgrid-wide"
  title={`${SITE.title} - ${SITE.subtitle}`}
>
  <Hero class="wide" />
  <Highlights />
  <section class="utils-section">
    <ThemeDropdown client:only />
  </section>
  <Projects />
  <Skills />
</Main>

<style>
  .utils-section {
    text-align: center;
    padding-block: var(--space-m);
    font-size: var(--step-1);
  }
</style>
