---
import Main from "~/components/layout/Main.astro";
import Hero from "~/components/blocks/Hero.astro";
import Highlights from "~/components/blocks/Now.astro";
import Projects from "~/components/blocks/Projects.astro";
import Skills from "~/components/blocks/Skills.astro";
---

<Main class="main-index | content-grid-wide">
  <div class="index-wrapper | region">
    <Hero />
    <Highlights />
  </div>
  <section class="code-banner | region">
    <code
      >writing("<span class="text-brand">code</span>"); “<span
        class="text-brand">story</span
      >-writing”</code
    >
  </section>
  <Projects />
  <Skills />
</Main>

<style is:global>
  .main-index {
    .index-wrapper {
      grid-column: max;
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--size-fluid-5);
      justify-content: space-evenly;
      row-gap: var(--size-fluid-6);
      margin-inline: auto;
      overflow: hidden;
    }

    .hero-section {
      flex-basis: 0;
      flex-grow: 999;
      min-inline-size: 53%;
    }

    .highlights-section {
      flex-grow: 1;
      flex-basis: var(--size-content-2);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-width: 1px;
        border-color: var(--border);
        border-style: solid;
        left: calc(var(--size-fluid-3) * -1);
        top: -50px;
        height: calc(100% + 50px);
      }
    }

    .code-banner {
      display: grid;
      grid-column: full;
      grid-template-columns: subgrid;
    }

    code {
      grid-column: max;
      padding-block: var(--size-fluid-3);
      text-align: center;
    }
  }
</style>
