---
import Main from "@components/layout/Main.astro";
import Hero from "./index/_hero.astro";
import Highlights from "./index/_now.astro";
import Projects from "./index/_projects.astro";
import Skills from "./index/_skills.astro";
import Contact from "./index/_contact.astro";
---

<Main class="main-index">
  <Hero />
  <Highlights />
  <Projects />
  <Skills />
  <Contact/>
</Main>
