---
import SITE from '~/data/site.ts';
import Layout from '~/layouts/layout.astro';

---

<Layout
	title={`${SITE.title} - ${SITE.subtitle}`}
	description={SITE.description}
>
	<section class='wrapper flow'>
		<h1>Notes</h1>
		<p>This page isn't ready yet - but you can still use <a href='https://v2.chuangcaleb.com/notes'>v2.chuangcaleb.com/notes</a>!</p>
	</section>
</Layout>
