---
import Note from '~/components/note/note-card.astro';
import Layout from '~/components/layout/layout.astro';
import '~/styles/index.css';
import {getAllNotes} from '~/utils/note.ts';

const notes = await getAllNotes();

const sorted = notes.toSorted((a, b) => {
	const aDate = a.data.published ?? a.data.modified;
	const bDate = b.data.published ?? b.data.modified;
	if (!aDate && !bDate) {
		return 0;
	}

	if (!aDate) {
		return 1;
	}

	if (!bDate) {
		return -1;
	}

	return bDate.getTime() - aDate.getTime();
});
---

<Layout title='Notes' description=''>
	<main id='main'>
		<section class='wrapper flow'>
			<h1>notes</h1>
			<ul class='notes-list flow max-prose' role='list'>
				{
					sorted.map(note => (
						<li>
							<Note note={note} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	li {
		max-width: var(--max-heading);
	}
</style>
