---
import { getCollection } from "astro:content";
import NoteLayout from "~/components/layout/NoteLayout/NoteLayout.astro";
import { isInCollection } from "~/utils/meta";

const allNotes = await getCollection("obsidian-note");
const nowNotes = allNotes.filter((note) =>
  isInCollection(note.data?.collection, "now/now")
);

const latestNowNote = nowNotes[0];
const { Content } = await latestNowNote.render();
const url = Astro.site + "now";
---

<NoteLayout title="Now">
  <a class="toast" href="#about">❓ What is a "/now" page?</a>
  <Content />
  <hr />
  <h2 id="about">"/now" shows latest life updates</h2>
  <p>
    I'll regularly post what I'm currently <b>focused on</b> & how I'm doing, over
    the past month-ish. I already do journaling daily anyways.
  </p>
  <p>
    People ask, "what are you up to lately?" — I can collect everything in a
    centralized location and show/share people the link to this page. It's my
    own up-to-date public activity feed. You can save the permalink: <a
      href={url}>{url}</a
    >
  </p>
  <p>
    This page will always show the <em>latest entry</em> — previous logs are archived
    and can be found at <a href={Astro.site + "note/now/now"}
      >"Now" notes collection</a
    >!
  </p>
  <p>
    Now pages were started by <a href="https://nownownow.com/about"
      >nownownow.com/about</a
    > — read more there!
  </p>
  <!-- <CollectionList isOrdered items={nowNotes} /> -->
</NoteLayout>

<style>
  .toast {
    /* padding: var(--space-2xs) var(--space-xs); */
    --flow-space: var(--space-xs);
  }
</style>
