---
import * as content from "./overview.mdx";

const { Content } = content;
const components = { h1: "h3" };
---

<section class="full linew-wide region surface-alt flom-xl">
  <article class="flow-lg prose">
    <h2 class="sr-only">Overview</h2>
    <Content components={components} />
  </article>
</section>

<style>
  article {
    max-width: var(--content-w);

    :global(h3) {
      color: var(--fg3);
      font-size: var(--step-1);
      font-weight: var(--fw-5);
      font-family: var(--font-heading-serif);
      display: flex;
      gap: 0.75ch;
    }

    :global(h3 svg) {
      margin-bottom: var(--size-ch-2);
    }
    :global(h3 + *) {
      --flow-space: var(--size-ch-2);
    }
  }
</style>
