---
import {Content} from './overview.mdx';
import Caps from '~/components/emphasis/caps.astro';
import SectionHeading from '~/components/emphasis/section-heading.astro';
---

<section class='region wrapper flow-xl'>
	<SectionHeading as='h2' prelabel='00 ⋅ About'>TL;DR — in less than 140 words</SectionHeading>
	<div class='prose-max'>
		<article class='prose flow-xl'>
			<Content components={{h2: Caps}} />
		</article>
	</div>
</section>

<style>
	section {
		--icon-size: 1.25em;
		min-height: 95vh;
		justify-content: center;
	}
  .prose :global(p) {
    --flow-space: var(--space-xs);
  }
</style>
