---
import { Icon } from "astro-icon/components";
import type { NotePage } from "lib/utils/types";
import PaginationCrumb from "./PaginationCrumb.astro";

interface Props {
  page: NotePage;
  section: string;
}

const { page, section } = Astro.props;
---

<nav
  aria-label={`${section ? `${section} ` : ""}notes pagination`}
  class="pagination-controls"
  data-paginator
>
  {/* Previous page link */}
  {
    page.url.prev ? (
      <a
        href={page.url.prev}
        aria-label="Previous page"
        class="pagination-button prev-button"
      >
        <Icon name="lucide:arrow-left" /> Previous
      </a>
    ) : (
      <span class="pagination-button prev-button" aria-disabled="true">
        <Icon name="lucide:arrow-left" /> Previous
      </span>
    )
  }

  {/* Page info */}
  <PaginationCrumb page={page} />

  {/* Next page link */}
  {
    page.url.next ? (
      <a
        href={page.url.next}
        aria-label="Next page"
        class="pagination-button next-button"
      >
        Next <Icon name="lucide:arrow-right" />
      </a>
    ) : (
      <span class="pagination-button next-button" aria-disabled="true">
        Next <Icon name="lucide:arrow-right" />
      </span>
    )
  }
</nav>

<style>
  .pagination-button {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    text-decoration: none;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:not([aria-disabled="true"]):hover {
      color: var(--text-accent);
    }

    &[aria-disabled="true"] {
      cursor: not-allowed;
      color: var(--text-muted);
      /* visibility: hidden; */
    }
  }

  .pagination-controls {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    justify-content: center;
    padding-block: var(--space-m);
    font-size: var(--step--1);
  }
</style>
