---
import type { NotePage } from "lib/utils/types";
import NoteListItems from "~/components/block/note/NoteListItems.astro";
import PaginationControls from "./PaginationControls.astro";
import PaginationCrumb from "./PaginationCrumb.astro";

type Props = {
  page: NotePage;
  section: string;
};

const { page, section } = Astro.props;
---

<section class="flow-lg">
  <PaginationCrumb page={page} />
  <ol class="grid">
    <NoteListItems references={page.data} />
  </ol>
  <PaginationControls page={page} section={section} />
</section>

<style>
  .grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr)); */
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: var(--space-m);
    column-gap: var(--space-s);
  }
</style>
