---
import { cn, hs } from "@utils/ui";
import type { HTMLAttributes } from "astro/types";

export interface ButtonProps extends HTMLAttributes<"button"> {
  theme?: "brand";
  size?: "icon";
  asChild?: boolean;
}

type Props = ButtonProps;

let { class: className, theme, size, asChild = false, ...props } = Astro.props;

className = cn("cc-btn", className, theme, size);

let html = asChild && hs(await Astro.slots.render("default"), className);
---

{
  asChild ? (
    <Fragment set:html={html} />
  ) : (
    <button class={className} {...props}>
      <slot />
    </button>
  )
}

<style is:global>
  .cc-btn {
    background-color: var(--_bg, var(--surface-1b));
    color: var(--_text, var(--text-1));
    border-color: var(--_border, var(--border));
    border-width: var(--_border-width, 1px);

    display: inline-flex;
    gap: var(--size-1);
    align-items: center;
    padding: var(--size-2) var(--size-3);
    font-weight: var(--font-weight-7);
    border-style: solid;
    border-radius: var(--radius-2);

    &.brand {
      --_bg: var(--brand);
      --_text: var(--text-on-brand);
      --_border: transparent;
      --_text-hover: var(--brand);
    }

    &.icon,
    &:has(svg:first-child:last-child) {
      padding: var(--size-1);
    }
    &:has(svg:not(:first-child:last-child)) {
      padding: var(--size-1) var(--size-2);
    }
    &:is(a) {
      margin: 0;
    }

    &:hover {
      --_bg: var(--_bg-hover);
      --_text: var(--_text-hover, var(--brand));
      box-shadow:
        var(--tw-ring-offset-shadow, 0 0 var(--brand)),
        var(--tw-ring-shadow, 0 0 var(--brand)),
        /* 0 0 0 0.15em var(--brand), */ 0 0 var(--size-8) 0 var(--brand);
    }

    @media (prefers-color-scheme: dark) {
      &:hover {
        --_bg-hover: var(--text-1);
        --_border: transparent;
      }
    }
    @media (prefers-color-scheme: light) {
      &:hover {
        --_bg-hover: var(--surface-1a);
        --_border: var(--brand);
      }
    }
  }
</style>
