---
import type { AstroBuiltinProps } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  highlight: CollectionEntry<"highlight">;
}

const { highlight } = Astro.props;

const components = {};

const { Content } = await highlight.render();
---

<div class="highlight">
  <Content components={components} />
</div>

<style is:global>
  .highlight {
    & > *:where(:not(:last-child)) {
      margin-bottom: var(--size-3);
    }
    h3 {
      margin-bottom: var(--size-1);

      font-size: var(--font-size-fluid-0);
      font-weight: var(--font-weight-4);
      color: var(--brand);
      text-transform: uppercase;
      letter-spacing: var(--font-letterspacing-4);
    }
    em {
      color: var(--text-muted);
    }
  }
</style>
