---
import type { CollectionEntry } from "astro:content";
import HeadingCaps from "./HeadingCaps.astro";

interface Props {
  highlight: CollectionEntry<"highlight">;
}

const { highlight } = Astro.props;

const components = {};
// const components = { h3: HeadingCaps({ as: "h3" }) };
const { Content } = await highlight.render();
---

<div class="highlight">
  <Content components={components} />
</div>

<style is:global>
  .highlight {
    & > *:where(:not(:last-child)) {
      margin-bottom: var(--size-3);
    }
    h3 {
      margin-bottom: var(--size-1);
      font-size: var(--font-size-fluid-0);

      svg {
        font-size: var(--font-size-fluid-1);
      }
    }
    em {
      color: var(--text-muted);
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      & > li {
        padding-left: 0;
      }
    }
  }
</style>
