---
import Heading from "@components/mdx/HeadingCapsH3.astro";
import NormUl from "@components/mdx/UlNorm.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  highlight: CollectionEntry<"highlight">;
}

const { highlight } = Astro.props;

const components = { h1: Heading, h2: "h4", ul: NormUl };
const { Content } = await highlight.render();
---

<div class="highlight">
  <Content components={components} />
</div>

<style is:global>
  .highlight {
    & > *:where(:not(:last-child)) {
      margin-bottom: var(--size-3);
    }
    h3 {
      margin-bottom: var(--size-1);
      font-size: var(--font-size-fluid-0);

      svg {
        font-size: var(--font-size-fluid-1);
      }
    }
    em {
      color: var(--text-muted);
    }
    li > svg {
      color: var(--text-muted);
    }
  }
</style>
