---
import NormUl from "@components/mdx/NormUl.astro";
import type { CollectionEntry } from "astro:content";
import Heading from "../mdx/HeadingCapsH3.astro";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;

const components = { h1: "h3", blockquote: "h4", ul: NormUl };
const { Content } = await project.render();
---

<div class="project">
  <Content components={components} />
</div>

<style is:global>
  .project {
    display: grid;
    & > *:where(:not(:last-child)) {
      margin-bottom: var(--size-3);
    }
    h3 {
      /* font-size: var(--font-size-fluid-1); */
    }
    h4 {
      order: -1;
      margin-bottom: var(--size-1);
    }
    em {
      color: var(--text-muted);
    }

    li > svg {
      color: var(--text-muted);
    }
  }
</style>
