---
import { getCollection } from "astro:content";
import NoteLayout from "~/components/layout/NoteLayout/NoteLayout.astro";
import { isInCollection } from "~/utils/meta";
import { Content as ExplainNowContent } from "./_explain-now.mdx";
import {gnr} from '~/utils/post';

const allNotes = await getCollection("obsidian-note");
const nowNotes = allNotes.filter((note) =>
  isInCollection(note.data?.collection, "now")
);

const latestNowNote = nowNotes[nowNotes.length - 1];
const { Content } = await latestNowNote.render();
---

<NoteLayout title="Now">
  <p class="toast flex-row">
    <span
      >❓ <a href="#now-shows-latest-life-updates">What is a "/now" page?</a
      ></span
    >•
    <span>
      🔗 <a href={gnr(latestNowNote.slug)}>Note link →</a>
    </span>
  </p>
  <Content />
  <hr />
  <ExplainNowContent />
</NoteLayout>

<style>
  .toast {
    --flow-space: var(--space-xs);
    column-gap: var(--space-xs);
    color: var(--text-faded);
    a {
      --color: var(--text-faded);
    }
    & + * {
      --flow-space: var(--space-xs);
    }
  }
</style>
