---
import { getCollection, render } from "astro:content";
import NoteLayout from "~/components/layout/NoteLayout/NoteLayout.astro";

import { gnr } from "~/utils/post";
import { Content as ExplainNowContent } from "./_explain-now.mdx";

const allNotes = await getCollection("obsidian-note");
const nowNotes = allNotes
  .filter((note) => note.data?.collection?.some((c) => c.id === "now"))
  .sort((a, b) => (a.id > b.id ? 1 : -1));

const latestNowNote = nowNotes[nowNotes.length - 1];

const { Content } = latestNowNote ? await render(latestNowNote) : {};
---

<NoteLayout title="Now">
  {
    latestNowNote && (
      <>
        <p class="toast flex-row">
          <span>
            ❓{" "}
            <a href="#now-shows-latest-life-updates">What is a "/now" page?</a>
          </span>
          •
          <span>
            🔗 <a href={gnr(latestNowNote.id)}>Note link →</a>
          </span>
        </p>
        {Content && <Content />}
        <hr />
      </>
    )
  }
  <ExplainNowContent />
</NoteLayout>

<style>
  .toast {
    --flow-space: var(--space-xs);
    column-gap: var(--space-xs);
    color: var(--text-faded);
    a {
      --color: var(--text-faded);
    }
    & + * {
      --flow-space: var(--space-xs);
    }
  }
</style>
