---
import { render } from "astro:content";
import NoteLayout from "~/components/layout/NoteLayout/NoteLayout.astro";
import { getAllNotes } from "~/utils/note";
import { gnr } from "~/utils/note-route";
import { Content as ExplainNowContent } from "./_explain-now.mdx";

const allNotes = await getAllNotes();
const nowNotes = allNotes
  .filter((note) => note.data?.collection?.some((c) => c.id === "now"))
  .sort((a, b) => (a.id > b.id ? 1 : -1));

const latestNowNote = nowNotes[nowNotes.length - 1];
const previousNowNote = nowNotes[nowNotes.length - 2];

const { Content } = latestNowNote ? await render(latestNowNote) : {};
---

<NoteLayout title="Now">
  {Content && <Content />}
  <ExplainNowContent />
  <ul slot="sidebar" class="toast flow-s">
    <li>
      <a href="#now-shows-latest-life-updates">What is a "/now" page?</a>
    </li>
    <li><a href={gnr("now")}>All "Now" notes</a></li>
    <li><a href={latestNowNote.route}>Archive Link →</a></li>
    {
      previousNowNote && (
        <li>
          <a href={previousNowNote.route}>← Prev: {previousNowNote.name}</a>
        </li>
      )
    }
  </ul>
</NoteLayout>

<style>
  .toast {
    color: var(--text-faded);
    a {
      --color: var(--text-faded);
    }
    & + * {
      --flow-space: var(--space-xs);
    }
  }
</style>
