---
import UlIcon from "~/components/styled/monom/UlIcon.astro";
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import LINKS from "~/data/links";
import Icon from "astro-iconify";
---

<section class="contact-section | cgrid-wide flow-lg" id="contact">
  <HeadingWIcon as="h2">
    <Icon name="mdi:connection" />
    {" "}<span class="text-faded">#</span> contact
  </HeadingWIcon>
  <p>You made it to the end! ...Or is it just the beginning?</p>
  <UlIcon class="flow-sm">
    {
      Object.values(LINKS).map((l) => (
        <li>
          <a href={l.href}>
            <Icon name={l.icon} aria-hidden="true" />{}{l.appId ?? l.label}
          </a>
        </li>
      ))
    }
  </UlIcon>
</section>

<style is:global>
  .contact-section {
    margin-block: auto;
    padding-block: var(--size-fluid-4);

    ul {

    }

    li {
      width: fit-content;
    }
    a {
      letter-spacing: var(--font-letterspacing-2);
      svg {
        width: var(--size-6);
      }
    }
  }
  /* :not(h2, ul, li) > * + * {
    margin-top: var(--size-relative-8);
  } */
</style>
