---
import Icon from "astro-iconify";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import LINKS from "~/data/links";
import BrandA from "../styled/monom/BrandA.astro";
---

<section class="contact-section | cgrid-wide region flow-lg" id="contact">
  <TagWIcon as="h2">
    <Icon name="mdi:connection" />
    {" "}<span class="text-faded">#</span> contact
  </TagWIcon>
  <p>You made it to the end! ...Or is it just the beginning?</p>
  <ul class="norm flow-xs">
    {
      Object.values(LINKS).map((l) => (
        <li>
          <BrandA href={l.href}>
            <Icon name={l.icon} aria-hidden="true" />{}{l.userId ?? l.label}
          </BrandA>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    margin-block: auto;

    ul {
      display: grid;
      gap: var(--size-relative-3);
    }
    li {
      width: fit-content;
    }
    a {
      letter-spacing: var(--font-letterspacing-2);
      svg {
        width: var(--step-3);
      }
    }
  }
</style>
