---
import heroImg from "~/assets/hero.jpeg";
import Button from "~/components/primitive/Button.astro";
import HeadingCaps from "~/components/styled/polym/Caps.astro";
import LINKS from "~/data/links";
import { Icon } from "astro-iconify";
import { Image } from "astro:assets";

const { LINKEDIN, GITHUB, CV } = LINKS;
const heroLinks = [GITHUB, LINKEDIN, CV];

const props = Astro.props;
---

<section class="max region" {...props}>
  <div class="container">
    <Image
      src={heroImg}
      alt="Head profile of Chuang Caleb"
      width={heroImg.width / 3}
      densities={[1, 2, 3]}
      loading="eager"
      class="border"
    />
    <div class="text-cont | flow-lg">
      <h1>
        software dev <br />
        <span class="deemph">with a</span>
        <span class="gradient"> different story.</span>
      </h1>
      <p>
        Ahoy! 🌊 This is Caleb speaking. I professionally tinker with <b>
          UI design systems
        </b> & <b>dynamic web apps</b> — and unprofessionally with <b>
          narrative storytelling</b
        >.
      </p>
      <p>You'll find out about me on this site. Wanna work together?</p>
    </div>
  </div>
</section>

<style lang="scss">
  $grid-item-w: 130px;

  section {
    max-width: 1300px;
    margin-inline: auto;
  }

  $gutter: minmax(0, $grid-item-w / 1.5);
  .container {
    display: grid;
    grid-template-columns: $gutter repeat(8, minmax($grid-item-w, 1fr)) $gutter;
    grid-template-rows: repeat(7, 1fr);
    position: relative;
  }

  .text-cont {
    grid-column: 2 / 8;
    grid-row: 3 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: max-content;

    h1 {
      grid-column: 1 / -1;
      hyphens: none;
      line-height: var(--step-7);
    }
    p {
      text-wrap: balance;
      grid-column: 1 / -2;
      padding-inline-end: var(--space-m);
      font-size: var(--step-1);
    }
  }
  img {
    grid-column: -5 / -1;
    grid-row: 1 / 6;
    width: 100%;
    filter: saturate(0.6);
    z-index: -1;
  }

  /* .gradient {
    background: linear-gradient(to bottom right, var(--text-1), var(--brand));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::selection {
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
    }
  }
  .deemph {
    font-weight: initial;
  } */
</style>
