---
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import HighlightCard from "~/components/template/HighlightCard.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";

const highlights = (await getCollection("highlight")).sort(
  (a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf(),
);
---

<section class="max region">
  <div class="wide flow-xl">
    <HeadingWIcon as="h2">
      <Icon name="lucide:chevron-up-circle" />
      {" "}<span class="text-faded">/</span> now
    </HeadingWIcon>
    {highlights.map((h) => <HighlightCard highlight={h} />)}
  </div>
</section>

<style>
  section {
    background-color: var(--surface-1b);
    display: grid;
    grid-template-columns: subgrid;
    border-radius: var(--radius-3);
    :global(ul) {
      font-size: var(--step-1);
    }
  }
</style>
