---
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import HighlightCard from "~/components/template/HighlightCard.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";

const highlights = (await getCollection("highlight")).sort(
  (a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf(),
);
---

<section class="highlights-section | flow-xl">
  <HeadingWIcon as="h2">
    <Icon name="lucide:chevron-up-circle" />
    {" "}<span class="text-faded">/</span> now
  </HeadingWIcon>
  {highlights.map((h) => <HighlightCard highlight={h} />)}
</section>
