---
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import ProjectCard from "~/components/template/ProjectCard.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";

const projects = (await getCollection("project"))
  .sort((a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf())
  .filter((p) => !p.data.hidden);
---

<section class="projects-section | region flow-xl" id="projects">
  <HeadingWIcon as="h2">
    <Icon name="lucide:atom" />
    {" "}<span class="text-faded">/</span> projects
  </HeadingWIcon>
  <div class="projects flow-xl">
    {projects.map((p) => <ProjectCard project={p} />)}
  </div>
</section>
