---
import HeadingWIcon from "~/components/styled/polym/HeadingWIcon.astro";
import Icon from "astro-iconify";
import SKILLS from "~/data/skills";
import SkillGroupCard from "~/components/template/SkillGroupCard.astro";

const skillGroups = Object.entries(SKILLS);
---

<section class="skills-section | region flow-lg">
  <HeadingWIcon as="h2">
    <Icon name="lucide:book-plus" />
    {" "}<span class="text-faded">/</span> skills
  </HeadingWIcon>
  <div class="skills">
    {
      skillGroups.map(([name, groupData]) => (
        <SkillGroupCard name={name} group={groupData} />
      ))
    }
  </div>
</section>

<style>
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    > :global(*) {
      flex-basis: var(--size-header-3);
      flex-grow: 1;
    }
  }
</style>
