---
import type { CollectionEntry } from "astro:content";
import { getEntries, getEntry } from "astro:content";
import BrandA from "~/components/styled/monom/BrandA.astro";
import { getNoteName } from "~/utils/post";

interface Props {
  note: CollectionEntry<"obsidian-note">;
}
const { note } = Astro.props;

const collectionMeta = await getEntry(
  "obsidian-collection",
  getNoteName(note.id)
);

const isOrdered = !!note.data.tags?.includes("📂/collection/series");

const List = isOrdered ? "ol" : "ul";

const notes = collectionMeta && (await getEntries(collectionMeta.data));
---

{
  notes && (
    <List>
      {notes.map((note) => {
        if (!note) return null;
        return (
          <li>
            <BrandA href={note.slug}>{getNoteName(note.id)}</BrandA>
          </li>
        );
      })}
    </List>
  )
}
