---
import { EXCLUDE_KEYS } from "lib/obsidian/consts";
import MetadataValue from "./MetadataValue.astro";

export type MetadataProps = {
  [key: string]: string | string[] | Date | null;
};

type Props = { metadata: MetadataProps };

const { metadata } = Astro.props;
const metadataArray = Object.entries(metadata);
---

<ul>
  {
    metadataArray.map(([key, value]) => {
      if (!value) return;
      if (EXCLUDE_KEYS.includes(key)) return;
      return (
        <li>
          {key} :: <MetadataValue key={key} value={value} />
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    color: var(--text-faded);
    font-size: var(--step--1);
    margin-block: auto;
    list-style-type: none;
  }
</style>
