---
import { LINK_KEYS } from "lib/obsidian/consts";
import MetadataValueItem from "./MetadataValueItem.astro";
import type { MetadataProps } from "./Metadata.astro";

export type MetadataValues = MetadataProps[keyof MetadataProps];
interface Props {
  key: string;
  value: MetadataValues;
}

const { key, value } = Astro.props;

const isLink = LINK_KEYS.includes(key);
const isArray = Array.isArray(value);
---

{
  isArray ? (
    <ul>
      {value.map((item) => (
        <li>
          <MetadataValueItem isLink={isLink} value={item} />
        </li>
      ))}
    </ul>
  ) : (
    <MetadataValueItem isLink={isLink} value={value} />
  )
}
