---
import TocHeading from "./TocHeading.astro";
import generateToc from "lib/remark/toc";

// interface HeadingNode {
//   depth: number;
//   text: string;
//   slug: string;
// }
// export interface NestedHeadingNode extends HeadingNode {
//   subheadings: NestedHeadingNode[];
// }

// export type Props = {
//   headings: HeadingNode[];
// };

const { headings } = Astro.props;

const toc = generateToc(headings);

// Boot out H1; but we've already stripped it in lib/remark/strip-h1.mjs
// keeping this here in case
// const tocHeadings = (function () {
//   if (headings[0].depth === 1) {
//     headings.shift();
//   }
//   return headings;
// })();
---

<nav>
  <ul class="toc-root">
    {toc.map((h) => <TocHeading tocItem={h} />)}
  </ul>
</nav>
