---
import TocHeading from "./TocHeading.astro";

interface HeadingNode {
  depth: number;
  text: string;
  slug: string;
}
export interface NestedHeadingNode extends HeadingNode {
  subheadings: NestedHeadingNode[];
}

export type Props = {
  headings: HeadingNode[];
};

// https://kld.dev/building-table-of-contents/
function buildToc(headings: HeadingNode[]) {
  const toc = [] as NestedHeadingNode[];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    // Change 2 to 1 if your markdown includes your <h1>
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1)?.subheadings.push(heading);
    }
  });
  return toc;
}

const { headings } = Astro.props;

const nestedHeadings = buildToc(headings);

// Boot out H1; but we've already stripped it in lib/remark/strip-h1.mjs
// keeping this here in case
// const tocHeadings = (function () {
//   if (headings[0].depth === 1) {
//     headings.shift();
//   }
//   return headings;
// })();
---

<nav>
  <ul>{nestedHeadings.map((h) => <TocHeading heading={h} />)}</ul>
</nav>
<style>
  nav {
    position: fixed;
    top: 0;
    right: 1rem;
    max-width: 30ch;
  }
</style>
