---
import type { TocItem } from "lib/markdown/toc";

interface Props {
  tocItem: TocItem;
}

const { tocItem } = Astro.props;
---

<li>
  <a href={"#" + tocItem.slug}>
    {tocItem.text}
  </a>
  {
    tocItem.children.length > 0 && (
      <ul>
        {tocItem.children.map((child) => (
          <Astro.self tocItem={child} />
        ))}
      </ul>
    )
  }
</li>

<style>
  li {
    font-size: var(--step--1);
    padding-block: var(--size-relative-2);

    ul {
      padding-block-start: var(--size-relative-1);
      list-style-type: none;
      padding-inline: unset;
    }
    a {
      --color: var(--text-faded);
      --color-hover: var(--brand);
      text-decoration: none;
      display: block;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      outline-offset: var(--size-relative-2);

      &.active {
        --color: var(--text-1-strong);
      }
    }
    ul li ul & {
      margin-inline-start: var(--space-3xs);
      padding-inline-start: var(--space-2xs);
      border-left-width: 1px;
      border-left-color: var(--text-muted);
      transition-duration: 300ms;
    }
    nav & {
      padding-inline: var(--space-3xs);
    }
    :has(> a:is(:hover, :focus, :active)) {
      border-left-color: var(--brand);
    }
  }
</style>
