---
import type { SuperNote } from "lib/utils/types";
import NoteCardMetadata from "./NoteCardMetadata.astro";

interface Props {
  note: SuperNote;
}

const { note } = Astro.props;
---

{
  note.data?.emojip && (
    <h3 class="flow-xs">
      <span class="emoji">{`${note.data?.emojip} `}</span>
      <span>{note.name}</span>
    </h3>
  )
}
{!note.data?.emojip && <h3>{note.name}</h3>}
<NoteCardMetadata data={note.data} />

<style>
  h3 {
    font-size: var(--step-1);
    font-family: var(--font-heading-sans);
    font-weight: var(--fw-6);
  }
  .metadata {
    display: flex;
    flex-direction: column;
  }
  .emoji {
    opacity: 0.75;
  }

  @container (min-width: 270px) {
    span {
      display: block;
    }
    .emoji {
      font-size: var(--step-2);
    }
  }
</style>
