---
import { pillVariants } from "~/utils/pill-variants";

type Props =
  | {
      emoji: string;
      short: string;
      ariaLabel?: string;
      variant?: never;
    }
  | { variant: keyof typeof pillVariants };

const rawProps = Astro.props;
const props = rawProps.variant ? pillVariants[rawProps.variant] : rawProps;
---

<span class="wrapper | border" aria-label={props.ariaLabel}
  >{}<span class="emoji">{props.emoji}</span>
  {rawProps.variant ?? props.short}
</span>

<style>
  .wrapper {
    padding-inline: var(--space-3xs);
    /* background-color: var(--bg3); */
    text-transform: uppercase;
    /* font-weight: var(--fw-5); */
    /* color: var(--text-normal); */
    /* font-size: var(--step--2); */
    font-family: var(--font-mono);
  }
  .emoji {
    filter: grayscale(0.5);
    color: var(--text-normal);
    /* opacity: 0.7; */
  }
</style>
