[class*="flow"] > * + * {
  --flow-space: var(--size-ch-6);
  margin-block-start: var(--flow-space, var(--size-ch-6));
}

[class*="flow"]
  > :not(:is(h1, h2, h3, h4, h5, h6, hr))
  + :is(h1, h2, h3, h4, h5, h6) {
  margin-block-start: calc(var(--flow-space) * 1.75);
}
/* --------------------------------- parent --------------------------------- */

.flow-xs > * + * {
  --flow-space: var(--size-ch-2);
}

.flow-sm > * + * {
  --flow-space: var(--size-ch-4);
}

.flow-lg > * + * {
  --flow-space: var(--size-ch-8);
}
.flow-xl > * + * {
  --flow-space: var(--size-ch-10);
}
.flow-2xl > * + * {
  --flow-space: var(--size-ch-12);
}

/* -------------------------------- children -------------------------------- */

/* flom because `m` is `w` upside down lol */

.flom-0 {
  --flow-space: 0;
}

.flom-xs {
  --flow-space: var(--size-ch-2);
}

.flom-md {
  --flow-space: var(--size-ch-6);
}

.flom-lg {
  --flow-space: var(--size-ch-8);
}

.flom-xl {
  --flow-space: var(--size-ch-10);
}

/* only enable if used

.flom-2xs {
  --flow-space: var(--size-ch-1);
}

.flom-sm {
  --flow-space: var(--size-ch-4);
}


.flom-2xl {
  --flow-space: var(--size-ch-12);
} */
