.border {
  border-width: var(--bw-1);
  border-radius: var(--radius-2);
}

.region {
  padding-block: var(--space-xl);
}

.surface-alt {
  background-color: var(--bg2);
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.flex-row {
  display: flex;
  column-gap: var(--f-gap, var(--space-s));
  align-items: center;
}

.f-gap-2xs {
  --f-gap: var(--space-2xs);
}

.wrap {
  flex-wrap: wrap;
}

.flow-li-0 {
  --flow-li: 0;
}
