---
import { type HTMLAttributes } from "astro/types";
import type { SuperNotes } from "lib/utils/types";
import NoteCard from "~/components/styled/monom/note/NoteCard.astro";
export interface Props extends HTMLAttributes<"ul"> {
  collections: SuperNotes;
}

const { collections, class: propsClass, ...props } = Astro.props;
---

<ul class:list={["flow-li-0", propsClass]} {...props}>
  {
    collections?.map((n) => (
      <li class=" flom-0">
        <NoteCard as="a" href={n.route}>
          <div class="emoji">{n.data.emojip ?? "‎‎"}</div>
          <h3>{n.name}</h3>
          <div class="metadata">{n.data.down?.length} NOTES</div>
        </NoteCard>
      </li>
    ))
  }
</ul>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
    grid-auto-rows: 1fr;
    gap: var(--space-xs);
    place-content: stretch;
  }
  .emoji {
    font-size: var(--step-2);
  }
</style>
