---
import NoteLi from "~/components/styled/monom/note/NoteLi.astro";
import { getAllNotes } from "~/utils/note";
import Topics from "./_Topics.astro";

const notes = await getAllNotes();

const featuredNotes = notes
  .filter((n) => n.data.featured)
  .sort((a, b) =>
    (a.data.featured as number) > (b.data?.featured as number) ? 1 : -1
  );

const featuredLeafNotes = featuredNotes.filter((n) => !n.data.emojip);
const featuredTopics = featuredNotes.filter((n) => n.data.emojip);
---

<div class="columns prose flow-lg">
  <ul
    class="flow-sm"
    style={{ maxWidth: "fit-content", gridColumn: "span 2 / span 2" }}
  >
    {
      featuredLeafNotes?.map((n) => (
        <li>
          <NoteLi as="a" href={n.route}>
            <span class="item">{n.name} </span>
          </NoteLi>
        </li>
      ))
    }
  </ul>
  <Topics style={{ gridColumn: "span 3 / span 3" }} topics={featuredTopics} />
</div>

<style>
  .item {
    font-family: var(--font-heading-sans);
    font-weight: var(--fw-6);
    font-size: var(--step-1);
    line-height: var(--font-lh-1);
  }
  .topic-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
    grid-auto-rows: 1fr;
    gap: var(--space-xs);
  }
  .columns {
    display: grid;
    gap: var(--space-s);
    grid-template-columns: repeat(1, 1fr);
    @media (width > 900px) {
      & > * {
        --flow-space: 0;
      }
      grid-template-columns: repeat(5, 1fr);
    }
  }
</style>
