---
import { type HTMLAttributes } from "astro/types";
import type { SuperNotes } from "lib/utils/types";
import NoteCardContent from "~/components/block/note/NoteCardContent.astro";
import Card from "~/components/styled/monom/note/Card.astro";
export interface Props extends HTMLAttributes<"ul"> {
  topics: SuperNotes;
}

const { topics, class: propsClass, ...props } = Astro.props;
---

<ul class:list={["flow-li-0", propsClass]} {...props}>
  {
    topics?.map((n) => (
      <li class="flom-0">
        <Card as="a" href={n.route}>
          <NoteCardContent note={n} />
        </Card>
      </li>
    ))
  }
</ul>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
    grid-auto-rows: 1fr;
    gap: var(--space-xs);
    /* place-content: stretch; */
  }
</style>
