---
import WIPDisclaimer from "~/components/block/WIPDisclaimer.astro";
import Base from "~/components/layout/Base.astro";
import Main from "~/components/layout/Main.astro";
import BrandA from "~/components/styled/monom/BrandA.astro";
import { getPublicNotes } from "~/utils/post";
import { removeConsecHyphens } from "lib/markdown/slugify";

const publicNotes = await getPublicNotes();
const publicNotesFrontmatter = await Promise.all(
  publicNotes.map(async (n) => (await n.render()).remarkPluginFrontmatter),
);
---

<Base>
  <Main>
    <WIPDisclaimer />
    <section class="cgrid-feature prose region flow-lg">
      <h1>All Posts</h1>
      <ul>
        {
          publicNotes?.map(async (n, idx) => (
            <li>
              <BrandA href={`/garden/note/${removeConsecHyphens(n.slug)}`}>
                {publicNotesFrontmatter[idx].title}
              </BrandA>
            </li>
          ))
        }
      </ul>
    </section>
  </Main>
</Base>
lib/remark/slugify lib/markdown/slugify
