---
import type { HTMLAttributes } from "astro/types";
import Base, { type BaseProps } from "./Base.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface MainProps extends HTMLAttributes<"main"> {}

type Props = MainProps & BaseProps;

const { description, title, class: className, ...props } = Astro.props;
---

<Base title={title} description={description}>
  <Header />

  <main id="main" class={className} {...props}>
    <slot />
  </main>

  <Footer />
</Base>

<style is:global>
  main {
    flex: 1;
  }
</style>
