---
import Icon from "astro-iconify";
import NavSheetReact from "./NavSheetReact";
import NavigationLinks from "~/components/layout/NavigationLinks.astro";
---

<NavSheetReact client:idle>
  <Icon name="lucide:chevron-first" slot="menuIcon" />
  <Icon name="lucide:chevron-last" slot="closeIcon" />
  <div slot="body" class="flow">
    <NavigationLinks />
  </div>
</NavSheetReact>
