---
import Icon from "astro-iconify";
import SiteNavStack from "~/components/layout/SiteNavStack.astro";
import NavSheetReact from "./nav-sheet-react";

const isNotesRoute = Astro.url.pathname.startsWith("/notes");
---

<NavSheetReact client:only="react" isNotesRoute={isNotesRoute}>
  <Icon name="lucide:chevron-first" slot="menuIcon" />
  <Icon name="lucide:chevron-last" slot="closeIcon" />
  <div slot="body" class="body | flow-lg">
    <slot name="sheetBody" />
    <hr />
    <SiteNavStack />
  </div>
</NavSheetReact>

<style>
  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  hr {
    margin-block-start: auto;
    /* --flow-space: auto; */
  }
  hr:first-child {
    display: none;
    :global(& + *) {
      --flow-space: 0;
    }
  }
</style>
