---
import Icon from "astro-iconify";
import NavigationLinks from "~/components/layout/NavigationLinks.astro";
import NavSheetReact from "./nav-sheet-react";
---

<NavSheetReact client:only="react">
  <Icon name="lucide:chevron-first" slot="menuIcon" />
  <Icon name="lucide:chevron-last" slot="closeIcon" />
  <div slot="body" class="flow-lg">
    <slot name="sheetBody" />
    <hr />
    <NavigationLinks />
  </div>
</NavSheetReact>

<style>
  hr:first-child {
    display: none;
    + * {
      --flow-space: 0;
    }
  }
</style>
