.FloatingButton {
  position: fixed;
}

.CloseButton {
  --flow-space: 0;
  position: absolute;
}

:is(.FloatingButton, .CloseButton) {
  top: var(--size-2);
  right: var(--size-2);
  width: var(--size-8);
  aspect-ratio: 1/1;
  z-index: 5;
  border-radius: var(--radius-3);
  background-color: var(--bg3);
  svg {
    color: var(--text-faded);
    display: block;
    width: 100%;
    padding: var(--size-2);
    margin: auto;
  }
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.5);
  animation: overlayShow 250ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: var(--bg2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  padding: var(--size-5);
  border-left-width: 1px;
  width: 100%;
  max-width: var(--size-content-2);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  /* box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); */
  overflow-y: scroll;
  &:focus {
    outline: none;
  }
  &[data-state="open"] :global {
    animation-name: enter;
    animation-duration: 0.5s;
    --tw-enter-translate-x: 100%;
  }
  &[data-state="closed"] :global {
    animation-name: exit;
    animation-duration: 0.5s;
    --tw-exit-translate-x: 100%;
  }
}

.DialogTitle {
  font-size: var(--step-2);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

astro-slot :global {
  display: block;
}
