---
import type { ContentEntryMap, ValidContentEntrySlug } from "astro:content";
import { getEntries } from "astro:content";
import AccentA from "~/components/styled/monom/AccentA.astro";
import { getNoteName } from "~/utils/post";
import { gnr } from "~/utils/post";

interface Props<C extends keyof ContentEntryMap> {
  isOrdered: boolean;
  items: {
    collection: C;
    slug: ValidContentEntrySlug<C>;
  }[];
}

const { isOrdered, items } = Astro.props;

const ListHTMLElement = isOrdered ? "ol" : "ul";
const notes = await getEntries(items);
---

{
  notes && (
    <ListHTMLElement>
      {notes.map((note: any) => {
        if (!note) return null;
        return (
          <li>
            <AccentA href={gnr(note.slug)}>{getNoteName(note.id)}</AccentA>
          </li>
        );
      })}
    </ListHTMLElement>
  )
}
