---
interface Props {
  prefix: string;
}

const { prefix } = Astro.props;
---

<span class="flex-row">
  <span class="prefix | text-faded">{prefix}</span>
  <slot />
</span>

<style>
  .flex-row {
    align-items: start;
  }
</style>
