---
interface Props {
  prefix: string;
  ariaLabel: string;
}

const { prefix, ariaLabel } = Astro.props;
---

<span class="flex-row">
  <span aria-label={ariaLabel}>{prefix}</span>
  <slot />
</span>

<style>
  .flex-row {
    align-items: start;
  }
</style>
