---
import type { NoteReference } from "lib/utils/types";
import NoteLink from "~/components/block/NoteLink.astro";
import { getNoteEntries } from "~/utils/note";

interface Props {
  references: NoteReference[];
  prefix: string;
  ariaLabel?: string;
}

const { references } = Astro.props;

const notes = await getNoteEntries(references);

const { prefix, ariaLabel } = Astro.props;
---

{
  !!notes.length && (
    <span class="flex-row">
      {<span aria-label={ariaLabel}>{prefix}</span>}
      <ul class="flex-row wrap f-gap-2xs">
        {notes.map((note, index) => (
          <>
            <li>
              <NoteLink note={note} />
            </li>
            {index < notes.length - 1 && <span aria-hidden>{" • "}</span>}
          </>
        ))}
      </ul>
    </span>
  )
}

<style>
  .flex-row {
    align-items: start;
  }
</style>
