---
import NoteListItems from "~/components/block/note/NoteListItems.astro";
import type { formatNoteRelations } from "~/utils/note-relations";
import SeriesList from "./SeriesList.astro";

interface Props {
  formattedRelations: NonNullable<
    Awaited<ReturnType<typeof formatNoteRelations>>
  >;
}

const { children, serieses } = Astro.props.formattedRelations;
---

<div class="metadata-footer | wide region prose linew flow-lg">
  {
    children && (
      <>
        <ul class="flow-sm">
          <NoteListItems references={children.items} />
        </ul>
      </>
    )
  }
  {!!serieses.length && <SeriesList serieses={serieses} />}
</div>

<style>
  .metadata-footer {
    border-width: 1px;
    border-radius: var(--radius-3);
    background-color: var(--bg2);
    --flow-space: var(--space-2xl);
  }
</style>
