---
interface Props {
  title: string;
  description?: string;
  pagefindWeight?: number;
}

const { title, description, pagefindWeight } = Astro.props;
---

<div class="header-order">
  <slot name="super" />
  <div class="flow-lg">
    <header class="flow-sm">
      <h1 {...pagefindWeight && { "data-pagefind-weight": pagefindWeight }}>
        {title}
      </h1>
      {
        description && (
          <p
            {...(pagefindWeight && {
              "data-pagefind-weight": Number(pagefindWeight * 0.8).toFixed(1),
            })}
          >
            {description}
          </p>
        )
      }
    </header>
    <slot />
  </div>
</div>
<slot name="footer" />

<style>
  p {
    color: var(--text-faded);
  }
  .header-order {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    @media (width < 600px) {
      flex-direction: column-reverse;
      gap: var(--space-m);
    }
  }
</style>
