---
import type { SuperNote } from "lib/utils/types";
import NoteListItems from "~/components/block/note/NoteListItems.astro";
import NoteLink from "~/components/block/NoteLink.astro";
interface Props {
  serieses: SuperNote[];
}

const { serieses } = Astro.props;
---

{
  serieses.map((parent) => (
    <>
      <h3>{`${parent.data.emojip ? parent.data.emojip + " " : ""} ${parent.name}`}</h3>
      <p>
        {"↑ "}
        <NoteLink note={parent} variant="accent" />
      </p>
      {parent.data.series && (
        <ol>
          <NoteListItems references={parent.data.series} variant="inline" />
        </ol>
      )}
    </>
  ))
}

<style>
  p,
  h2 {
    color: var(--text-faded);
  }
</style>
