---
import type { SuperNote } from "lib/utils/types";
import NoteLink from "~/components/block/NoteLink.astro";
import NoteList from "../../NoteList.astro";
interface Props {
  serieses: SuperNote[];
}

const { serieses } = Astro.props;
---

{
  serieses.map((parent) => (
    <>
      <h2>{`${parent.data.emojip ? parent.data.emojip + " " : ""} ${parent.name}`}</h2>
      <p>
        {"↑"}
        <NoteLink note={parent} variant="accent" />
      </p>
      {parent.data.series && <NoteList items={parent.data.series} isOrdered />}
    </>
  ))
}

<style>
  h2 {
    color: var(--text-faded);
  }
</style>
