---
import Button from "~/components/styled/polym/Button.astro";
import TermsAlert from "./TermsAlert.astro";
---

<h2>Toggle visual display</h2>
<p>
  {
    `Congratulations! You've made it to the end of this note! Since you've read through it all, here is a button toggles the display of the "Terms of Service" alert at the top of every note!`
  }
</p>
<p>
  It simply stores a flag in your browser's <code>localStorage</code>. If you
  are on a new device or browser profile, you can always return here and toggle
  hide again!
</p>
<div>
  <Button id="terms-toggle">Toggle</Button>
</div>
<TermsAlert />
