---
import Alert from "~/components/block/Alert.astro";
import { termsRoute } from "~/data/special-routes";
---

<Alert variant="terms">
  By consuming, you are bound to to the site's
  <a href={termsRoute}> Terms of Service</a>, which lets me publish half-baked
  notes with peace of mind :D (TL;DR: just consume notes responsibly!)
</Alert>
